@import "~@mill/figma/colors";
@import "~@mill/figma/typography";

$mill-header-size: 80px;
$mill-title-image-size: 224px;
$mill-title-image-indent: 18px;
$card-border-width: 1px;

:host {
  box-sizing: border-box;
  display: block;
}

.mill-intro {
  font-family: $gilroy-500-medium;
  color: $grey-70;
  padding-top: 10px;
  padding-bottom: 56px;

  &__container {
    max-width: 712px;
    grid-column-start: 2;
    grid-column-end: 12;
    justify-self: center;
  }

  &__top-bar {
    width: 100%;
    border-bottom: 1px solid $grey-20;
    margin-bottom: 56px;
    padding-top: 10px;
    padding-bottom: 20px;
  }

  &__top-bar-container {
    max-width: 712px;
    display: flex;
    grid-column-start: 2;
    grid-column-end: 12;
  }

  &__version-list {
    max-width: 390px;
    display: flex;
    flex-wrap: wrap;
  }

  &__all-versions-button {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  &__all-versions-label {
    margin-left: 10px;
  }

  &__date {
    color: $grey-50;
    transition: color 0.2s linear;
  }

  &__version-item {
    min-width: 180px;
    border-right: 1px solid $grey-30;
    box-sizing: border-box;
    cursor: pointer;
    margin-bottom: 5px;
    padding: 0 15px;
    transition:
      transform 0.3s linear,
      text-shadow 0.3s linear;

    &:nth-child(even) {
      border-right: none;
    }

    &:hover {
      .mill-intro__date,
      .mill-intro__version {
        text-decoration: underline;
      }

      .mill-intro__date {
        color: $grey-70;
      }
    }
  }

  &__header {
    height: $mill-header-size;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
  }

  &__logo-dsys {
    width: $mill-header-size;
    height: $mill-header-size;
    margin-right: 16px;
  }

  &__logo-dsys-mill {
    animation: mill-rotation-simple linear infinite 3s;
    transform-origin: 66.975% 37.5%;
    will-change: transform;
  }

  &__logo-fuib {
    width: 40px;
    height: 40px;
    color: $red-50;
  }

  &__title {
    position: relative;
    display: flex;
    align-items: flex-end;
    margin-top: 24px;
  }

  &__title-text {
    padding-right: calc(#{$mill-title-image-indent} + #{$mill-title-image-size});
  }

  &__title-image {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: $mill-title-image-size;
    width: $mill-title-image-size;
    height: 320px;
  }

  &__divider {
    border-bottom: 1px solid $grey-20;

    &_top {
      margin-top: 48px;
      margin-bottom: 30px;
    }

    &_middle {
      margin-top: 40px;
      margin-bottom: 20px;
    }

    &_bottom {
      margin-top: 40px;
      margin-bottom: 20px;
    }
  }

  &__description {
    width: 100%;
    display: inline-block;
    margin-top: 17px;
  }

  &__description-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 6px;
  }

  &__description-item {
    flex-basis: 50%;
    margin-top: 26px;
    padding-right: 16.293%;
    box-sizing: border-box;
  }

  &__description-text {
    color: $main-primary-medium;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 66px;
    padding: 0 24px;
  }

  &__card {
    position: relative;
    min-width: 295px;
    width: 31%;
    max-width: 344px;
    box-sizing: border-box;
    border-radius: 8px;
    cursor: pointer;
    margin: 12px;
    overflow: hidden;
    padding: 21px 24px 0 24px;
    transition:
      box-shadow 0.3s ease-in-out,
      border-color 0.3s ease-in-out;
    text-decoration: none;

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      content: "";
      border: $card-border-width solid $grey-20;
      border-radius: 8px;
      pointer-events: none;
    }

    &:hover {
      box-shadow:
        0 4px 10px rgba(0, 0, 0, 0.2),
        0 0 4px rgba(0, 0, 0, 0.12);
    }
  }

  &__card-title {
    position: relative;
    display: inline-block;

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 4px;
      content: "";
      background: $main-secondary-accent;
      border-radius: 40px;
    }
  }

  &__card-text {
    color: $main-primary-medium;
    margin-top: 17px;
  }

  &__card-image {
    position: relative;
    padding-bottom: calc(120 / 250 * 100%); // (135 - $card-border-width) manually, cause of different units
  }

  &__card-svg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: $card-border-width;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__history {
    width: 100%;
    display: inline-block;
    margin-top: 57px;
    margin-bottom: 2px;
  }

  &__history-item {
    display: flex;
    align-items: center;
    margin-top: 33px;

    &:first-child {
      margin-top: 0;
    }
  }

  &__history-date {
    width: 158px;
    min-width: 158px;
    text-align: right;
  }

  &__history-text {
    margin-left: 26px;
  }

  &__team {
    margin-top: 49px;
    width: 100%;
    display: inline-block;
  }

  &__team-title {
    margin-bottom: 40px;
  }

  &__team-content {
    display: flex;
  }

  &__team-logo {
    min-width: 80px;
    width: 80px;
    height: 80px;
    padding-right: 100px;
  }

  &__team-items {
    display: flex;
    flex-wrap: wrap;
  }

  &__team-item {
    width: 50%;
    box-sizing: border-box;
    margin-bottom: 26px;
    padding-right: 24px;
  }

  &__team-position,
  &__team-email {
    color: $main-primary-medium;
  }

  &__team-email {
    text-decoration: none;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: $main-primary-dark;
      text-decoration: underline;
    }
  }

  &__info {
    display: flex;
  }

  &__info-item {
    width: 25%;
  }

  &__info-link {
    color: $main-primary-medium;
    text-decoration: none;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: $main-primary-dark;
      text-decoration: underline;
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 75px;
  }

  &__footer-logo {
    width: 40px;
    height: 40px;
    color: $main-primary-medium;
  }

  &__footer-copyright {
    margin-top: 18px;
  }

  &__footer-copyright,
  &__footer-address {
    color: $main-primary-medium;
  }
}

@keyframes mill-rotation-simple {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes mill-rotation-exponential {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(360deg);
  }

  85% {
    transform: rotate(540deg);
  }

  100% {
    transform: rotate(720deg);
  }
}
