<div class="sidebar" [class.sidebar_collapsed]="collapsed">
  <div class="sidebar__header">
    <div #burger class="sidebar__burger" (click)="collapsedToggle()">
      <mill-icon class="sidebar__burger-icon" [class.sidebar__burger-icon-collapsed]="!collapsed"
      size="24" [name]="(!isWidthTabletPhone && 'burger') || isWidthTabletPhone && collapsed ? 'burger' : 'close'">
      </mill-icon>
    </div>
    <div class="sidebar__logo">
      <img class="sidebar__logo-image" [src]="logo" alt="logo">
    </div>
  </div>

  <div class="sidebar__scrollable" [class.sidebar__scrollable_active]="scrolled"
    [class.sidebar__scrollable_collapsed]="collapsed" (scroll)="onScroll($event)">
    <div>
      <div class="sidebar__user-info-wrapper">
        <ng-content select="user-info"></ng-content>
      </div>
      <div class="sidebar__navigation">
        <ng-content></ng-content>
      </div>
    </div>
    <div class="sidebar__crafted" [class.sidebar__crafted_hidden]="collapsed">
      <span>Crafted with <mill-icon size="12" name="heart"></mill-icon> in PUMB</span>
      <span>{{version}}</span>
    </div>
  </div>
</div>

<!-- <div class="nav-content" [class.nav-content_collapsed]="!collapsed"> -->
<ng-content select="nav-content" ></ng-content>
<!-- </div> -->