@import "~@mill/figma/colors";
@import "~@mill/figma/typography";

:host {
  flex-direction: column;
  display: flex;
}

.sidebar {
  width: 100%;
  height: 100%;
  transition: width 0.3s ease;
  overflow: hidden;

  &__header {
    display: flex;
    height: 40px;
    padding: 32px 20px;
    align-items: center;
    flex-direction: row;
  }

  &__logo {
    transition: opacity 299ms ease;
    height: 40px;
    margin-left: 20px;
    &-image {
      height: 100%;
    }
  }

  &__burger {
    height: 24px;
    cursor: pointer;
    border-radius: 24px;
    padding: 4px;

    &:hover {
      background: $grey-70;
      .sidebar__burger-icon {
        color: $grey-10;
      }
    }
  }

  &__burger-icon {
    color: $grey-40;
  }

  &__user-info-wrapper {
    transition: padding 299ms ease;
    padding: 0 24px 36px;
  }

  &__scrollable {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    transition: padding 0.3s ease;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - 104px);

    &_active {
      border-top: 1px solid $grey-70;
    }
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__crafted {
    @extend %p3;

    color: $grey-30;
    display: flex;
    justify-content: space-between;
    padding: 12px 24px;

    & span:first-child {
      display: flex;
    }

    & mill-icon {
      color: #f91f2b;
      margin: 0 5px;
    }
    transition: opacity 0.25s ease;
  }

  &__crafted_hidden {
    opacity: 0;
  }

  &#{&}_collapsed {
    width: 72px;

    .sidebar__scrollable {
      padding: 0 12px;
    }

    .sidebar__user-info-wrapper {
      padding: 0;
    }

    .sidebar__logo {
      opacity: 0;
    }
  }

  &_collapsed {
    width: 72px;
    overflow: hidden;
  }
}
