:host {
  padding: 24px;
  box-sizing: border-box;
  display: block;
}

.preview-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #E1E1E8;
  border-radius: 8px;
  padding: 24px;
  height: 120px;
  box-sizing: border-box;
  MARGIN-TOP: 18px;
}
