<div class="overview">
  <div class="overview__header">
    <div class="h4">Data table</div>
    <div class="overview__links">
<!--      <a href="" class="overview__link s1"><mill-icon name="lightbulb"></mill-icon>Огляд компонента</a>-->
      <a href="" class="overview__link s1"><mill-icon name="figma"></mill-icon>Компонент в Figma</a>
    </div>
  </div>
  <div class="overview__content grid">
    <div class="overview__column grid-item-12">
      <mill-table
        [fixedHeader]="fixedHeader"
        [darkStyleHeader]="darkHeader"
        [data]="data"
        [dataModel]="dataModel"
        [tableType]="type"
        [tableStyle]="style"
        [selectInput]="selectInput"
        [padding]="false"
        [paginator]="true"
        [paginatorShowCount]="[5, 10, 15, 20]"
      ></mill-table>
    </div>
  </div>
</div>

