<div class="nav-item" [class.nav-item_active]="active" [class.nav-item_collapsed]="collapsed" (click)="expand()">

  <div class="nav-item__icon nav-item__icon_hover">
    <mill-icon [size]="isSubItem ? '12' : '24'" [name]="isSubItem ? 'dot' : icon"></mill-icon>
  </div>

  <div class="nav-item__text" [class.nav-item__text-sub-item]="isSubItem">
    <ng-content></ng-content>
  </div>

  <mill-icon *ngIf="withSubitems && !collapsed" class="nav-item__icon" size="12"
    [name]="'small-arrow-down'" [class.nav-item__icon_expanded]="expanded"></mill-icon>
</div>

<div class="content" [@slideInOut]="!expanded ? 'out' : 'in'">
  <ng-content select='mill-nav-item'></ng-content>
</div>
