<div class="overview">
  <div class="overview__header">
    <div class="h4">Spinner</div>
    <div class="overview__links">
      <a href="" class="overview__link s2">
        Компонент в Figma
      </a>
    </div>
  </div>

  <div class="overview__content grid">
    <div class="overview__column grid-item-4">
      <div class="overview__label s1">Default spinner</div>
      <div class="overview__container">
        <mill-spinner></mill-spinner>
      </div>
    </div>
  </div>

  <div class="overview__content grid">
    <div class="overview__column grid-item-4">
      <div class="overview__label s1">Default spinner with label</div>
      <div class="overview__container">
        <mill-spinner>{{label}}</mill-spinner>
      </div>
    </div>
  </div>

</div>




