<div class="input " [class.input_required]="this.required"
  [class.input_error]="(dirty && isInvalid) || (submitted && isInvalid)"
  [class.input_valid]="dirty && !isInvalid && hintComponent.valid" [class.input_disabled]="disabled">
  <div class="input__label"> {{caption}} </div>
  <div class="input__body ">

    <div class="input__entrance input__entrance-maxwidth">
      <textarea [attr.disabled]="!!disabled ? disabled : undefined" class="input__textarea" [placeholder]="placeholder"
        (input)="onInput($event)" [style.resize]="resize">{{ value }}</textarea>
    </div>
  </div>

  <div class="input__footer">
    <ng-content select="mill-hint"></ng-content>
  </div>
</div>