<div role="listbox" class="select" [class.select__isDisabled]="disabled" (clickOutside)="onSearchInputBlur()">
  <ng-container *ngTemplateOutlet="defaultHeaderTemplate; context: this"></ng-container>

  <ng-container *ngIf="active$.value || !isNotRenderInactiveBodyMode">
    <ng-container *ngTemplateOutlet="defaultBodyTemplate; context: this">
    </ng-container>
  </ng-container>
</div>

<!--
  Default header template
-->
<ng-template #defaultHeaderTemplate>
  <div class="select__header input" [class.input_required]="this.required">
    <div class="input__label input-select__label">{{ caption }}</div>
    <div class="input__body input-select__body " 
    [class.input-select__body_error]="touched && isInvalid"
    [class.input-select__body_valid]="touched && !isInvalid && hintComponent.valid"> 
      <div class="chips">
        <ng-container *ngIf="multiple">
          <div class="chip chip_gap" *ngFor="let option of selectedOption">
            <div class="chip__text">{{ option.value }}</div>
            <mill-icon class="chip__icon" size="12" name="close"
              (click)="ontionChipCloseClick(option); $event.preventDefault();"></mill-icon>
          </div>
        </ng-container>
        <div class="input__enterence input-select__enterence">
            <div class="input__placeholder" *ngIf="!searchInputValue"> {{ placeholder }} </div>
            <input class="input__input input-select__input" (focus)="onSearchInputFocus()"
              [value]="searchInputValue" (input)="onSearchInput(searchInput.value)" (keydown)="onSearchInputKeydown($event)"
               #searchInput autoWidth>
              
          </div>
        </div>


      <div class="chevron-down" [class.chevron-down_rotate180]="active$.value">
        <mill-icon class="chevron__icon" size="24" (click)="onChevronClick()" name="chevron-down">
        </mill-icon>
      </div>
    </div>

    <div class="input__footer">
      <ng-content select="mill-hint"></ng-content>
    </div>
  </div>
</ng-template>

<!--
  Default body template
-->
<ng-template #defaultBodyTemplate>
  <ngx-simplebar [options]="options" #selectBodyElement class="option-list" [class.option-list_active]="active$.value"
    (mouseover)="onBodyMouseOver()" (mouseout)="onBodyMouseOut()">
    <ng-container *ngFor="let option of (options$ | async); index as i">

      <ng-container *ngTemplateOutlet="defaultOptionTemplate; context: { option: option, i: i }">

      </ng-container>
    </ng-container>
  </ngx-simplebar>
</ng-template>


<!--
  Default option tempalte
-->

<ng-template #defaultOptionTemplate let-option="option" let-i="i">
  <div #optionElement class="option" [class.option_focused]="focusedOptionIndex == i" (click)="optionClick(option)">
    <div class="option__text" [class.option__text_selected]="checkIsOptionSelected(option)">
      {{ option.value }}
    </div>
    <mill-icon class="option__icon" *ngIf="checkIsOptionSelected(option) && !multiple" size="24" name="check">
    </mill-icon>
    <mill-checkbox class="p1" *ngIf="multiple" [hideLabel]="true" [checked]="checkIsOptionSelected(option)">Checkbox
    </mill-checkbox>
  </div>
</ng-template>
