$other-grey-gradient: linear-gradient(107.54deg, #4D4D5C 0%, #00000D 100%);
$other-bg-gradient: linear-gradient(107.54deg, #4D4D5C 0%, #00000D 100%);
$other-white: rgba(255, 255, 255, 1);
$grey-100: rgba(0, 0, 13, 1);
$grey-90: rgba(16, 16, 31, 1);
$grey-80: rgba(44, 44, 59, 1);
$grey-70: rgba(77, 77, 92, 1);
$grey-60: rgba(109, 109, 122, 1);
$grey-50: rgba(147, 147, 158, 1);
$grey-40: rgba(182, 182, 191, 1);
$grey-30: rgba(208, 208, 217, 1);
$grey-20: rgba(225, 225, 232, 1);
$grey-10: rgba(245, 245, 250, 1);
$orange-70: rgba(184, 89, 6, 1);
$orange-60: rgba(219, 106, 4, 1);
$orange-50: rgba(245, 127, 23, 1);
$orange-40: rgba(255, 145, 51, 1);
$orange-30: rgba(255, 173, 99, 1);
$orange-20: rgba(255, 208, 166, 1);
$orange-10: rgba(255, 237, 221, 1);
$green-70: rgba(56, 130, 60, 1);
$green-60: rgba(76, 166, 80, 1);
$green-50: rgba(102, 187, 106, 1);
$green-40: rgba(132, 204, 136, 1);
$green-30: rgba(171, 214, 173, 1);
$green-20: rgba(194, 229, 196, 1);
$green-10: rgba(232, 245, 233, 1);
$blue-70: rgba(40, 110, 135, 1);
$blue-60: rgba(64, 142, 170, 1);
$blue-50: rgba(107, 176, 201, 1);
$blue-40: rgba(142, 201, 222, 1);
$blue-30: rgba(176, 219, 235, 1);
$blue-20: rgba(201, 235, 247, 1);
$blue-10: rgba(228, 243, 248, 1);
$red-70: rgba(156, 16, 23, 1);
$red-60: rgba(204, 8, 18, 1);
$red-50: rgba(249, 31, 43, 1);
$red-40: rgba(250, 87, 96, 1);
$red-30: rgba(252, 151, 157, 1);
$red-20: rgba(255, 197, 201, 1);
$red-10: rgba(254, 228, 230, 1);
$main-error: rgba(245, 127, 23, 1);
$main-valid: rgba(102, 187, 106, 1);
$main-primary-medium: rgba(147, 147, 158, 1);
$main-secondary-accent: rgba(249, 31, 43, 1);
$main-primary-light: rgba(245, 245, 250, 1);
$main-primary-dark: rgba(77, 77, 92, 1);
