$gilroy-100-thin: 'Gilroy-Thin';
$gilroy-100-thin-talic: 'Gilroy-ThinItalic';

$gilroy-200-ultra-light: 'Gilroy-UltraLight';
$gilroy-200-ultra-light-italic: 'Gilroy-UltraLightItalic';

$gilroy-300-light: 'Gilroy-Light';
$gilroy-300-light-italic: 'Gilroy-LightItalic';

$gilroy-400-regular: 'Gilroy-Regular';
$gilroy-400-regular-italic: 'Gilroy-RegularItalic';

$gilroy-500-medium: 'Gilroy-Medium';
$gilroy-500-medium-italic: 'Gilroy-MediumItalic';

$gilroy-600-semibold: 'Gilroy-Semibold';
$gilroy-600-semibold-italic: 'Gilroy-SemiboldItalic';

$gilroy-700-bold: 'Gilroy-Bold';
$gilroy-700-bold-italic: 'Gilroy-BoldItalic';

$gilroy-800-extrabold: 'Gilroy-Extrabold';
$gilroy-800-extrabold-italic: 'Gilroy-ExtraboldItalic';

$gilroy-900-black: 'Gilroy-Black';
$gilroy-900-black-italic: 'Gilroy-BlackItalic';

$gilroy-900-heavy: 'Gilroy-Heavy';
$gilroy-900-heavy-italic: 'Gilroy-HeavyItalic';

$roboto-mono-300: 'RobotoMono300';
$roboto-mono-400: 'RobotoMono400';
$roboto-mono-500: 'RobotoMono500';
