<div class="search-input search-input_active"
	 [style.width.px]="width"
	 [class.search-input_disabled]="isDisabled"
	 (click)="onFocus()">
	<div class="search-input__search-icon"></div>
	<input type="text" placeholder="Placeholder"
           #inputEl
		   [formControl]="inputValue"
		   [attr.aria-activedescendant]="'mill-option-' + activeItemIndex"
		   [attr.aria-expanded]="active"
		   (keyup)="onKeyUp($event)"
	>
	<div *ngIf="inputValue.value && inputValue.value.length > 0" class="search-input__close-icon" (click)="clearInput()"></div>
	<div *ngIf="active" [class.option-list_active]="active" class="option-list option-list_search">
		<div *ngFor="let item of showList; let i = index" class="option" id="mill-option-{{ i }}" tabindex="0"
			 [class.option_active]="i === activeItemIndex"
			 [class.option_with-icon]="item.isHistory"
			 (click)="setInputValue(item.value)"
		>
			<div *ngIf="item.isHistory" class="search-input__clock-icon"></div>

			<div class="option__text"><span
				*ngFor="let value of resultStr(item.value); let i = index"
				[style.fontWeight]="isBold(value, item.isHistory, i) ? 'bold' : null"
			>{{value}}</span></div>

			<div *ngIf="item.isHistory" class="search-input__close-icon" (click)="removeFromHistory($event, item.value)"></div>

		</div>
	</div>
</div>

