<div
  #inputCheckbox
  class="mill-checkbox"
  [class.mill-checkbox_checked]="checked"
  [class.mill-checkbox_disabled]="disabled"
  [class.mill-checkbox_indeterminate]="indeterminate"
  [tabIndex]="tabindex"
  (change)="onChange($event)"
  (keydown)="onKeydown($event)"
  (click)="onClick($event)"
>
  <div class="mill-checkbox__item">
    <div class="mill-checkbox__icon icon" role="checkbox" [id]="id"></div>
  </div>
  <label *ngIf="!hideLabel" class="mill-checkbox__label" [for]="id">
    <span>
      <ng-content></ng-content>
    </span>
  </label>
</div>
