@import "~@mill/figma/colors";
@import "~@mill/figma/typography";
@import "~@mill/figma/icons";

%icon_white {
  background: #ffffff;
}
/* stylelint-disable no-descending-specificity */
.checkbox {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  color: $grey-60;
  padding-right: 10px;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: $grey-70;

    .checkbox__item {
      border-color: $red-40;
    }
  }

  &:not(.checkbox_disabled) {
    &:hover {
      border-color: $red-40;
    }
  }

  &__icon {
    @extend .icon_12;
    @extend %icon_white;
    @extend .icon_ok;

    visibility: hidden;
  }

  &__item {
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 2px solid $grey-50;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  }

  &__label {
    margin-left: 14px;
    pointer-events: none;

    &_hidden {
      display: none;
    }
  }

  &_checked {
    .checkbox__item {
      background: $red-50;
      border-color: $red-50;
    }

    .checkbox__icon {
      visibility: visible;
    }

    &:hover {
      .checkbox__item {
        background-color: $red-40;
        border-color: $red-40;
      }

      .checkbox__label {
        color: $grey-70;
      }
    }
  }

  &_disabled {
    cursor: default;

    .checkbox__item {
      border-color: $grey-30;
    }

    .checkbox__label {
      color: $grey-40;
    }

    &.checkbox_checked {
      .checkbox__item {
        background: $grey-30;
      }

      .checkbox__icon {
        visibility: visible;
      }

      &:hover {
        .checkbox__label {
          color: $grey-40;
        }
      }
    }

    &:hover {
      .checkbox__item {
        border-color: $grey-30;
      }
    }
  }

  &_indeterminate {
    .checkbox__item {
      background: $red-50;
      border-color: $red-50;

      .checkbox__icon {
        @extend .icon_minus;

        visibility: visible;
      }
    }

    &:hover {
      .checkbox__item {
        background-color: $red-40;
      }
    }
  }
}
/* stylelint-enable */
