<div class="h3">{{label}}</div>
<br>
<div class="preview">

  <div class="preview__block">
    <div class="preview__label s1">
      Basic
    </div>
    <div class="preview__component">
      <mill-select caption="caption" placeholder="placeholder">
        <span millSelectOption key="1" value="Option 1"></span>
        <span millSelectOption key="2" value="Option 2"></span>
        <span millSelectOption key="3" value="Option 3"></span>
        <span millSelectOption key="4" value="Option 4"></span>
        <span millSelectOption key="5" value="Option 5"></span>
        <span millSelectOption key="6" value="Option 6"></span>
        <span millSelectOption key="7" value="Option 7"></span>
        <span millSelectOption key="8" value="Option 8"></span>
      </mill-select>
    </div>
  </div>

  <div class="preview__block">
    <div class="preview__label s1">
      Disabled
    </div>
    <div class="preview__component">
      <mill-select caption="caption" placeholder="placeholder">
        <span millSelectOption key="1" value="Option 1"></span>
        <span millSelectOption key="2" value="Option 2"></span>
        <span millSelectOption key="3" value="Option 3"></span>
        <span millSelectOption key="4" value="Option 4"></span>
        <span millSelectOption key="5" value="Option 5"></span>
        <span millSelectOption key="6" value="Option 6"></span>
        <span millSelectOption key="7" value="Option 7"></span>
        <span millSelectOption key="8" value="Option 8"></span>
      </mill-select>
    </div>
  </div>

  <div class="preview__block">
    <div class="preview__label s1">
      Invalid
    </div>
    <div class="preview__component">
      <mill-select caption="caption" placeholder="placeholder">
        <span millSelectOption key="1" value="Option 1"></span>
        <span millSelectOption key="2" value="Option 2"></span>
        <span millSelectOption key="3" value="Option 3"></span>
        <span millSelectOption key="4" value="Option 4"></span>
        <span millSelectOption key="5" value="Option 5"></span>
        <span millSelectOption key="6" value="Option 6"></span>
        <span millSelectOption key="7" value="Option 7"></span>
        <span millSelectOption key="8" value="Option 8"></span>
      </mill-select>
    </div>
  </div>

</div>