:host {
  box-sizing: border-box;
  display: block;
}

.overview {
  &__column {
    @media screen and (max-width: 1340px) {
      grid-column: span 12;
    }

    grid-column-start: 3;
    grid-column-end: 10;
  }
}
