<div class="overview">
  <div class="overview__header">
    <div class="h4">Dropdowns</div>
    <div class="overview__links">
      <!--      <a href="" class="overview__link s2"><mill-icon name="lightbulb"></mill-icon>Огляд компонента</a>-->
      <a href="" class="overview__link s2">
        <mill-icon name="figma"></mill-icon>Компонент в Figma
      </a>
    </div>
  </div>
  <div class="overview__content grid">
    <div class="overview__column grid-item-4">
      <div class="overview__label s1">Basic</div>
      <div class="overview__container">
        <mill-select caption="caption" placeholder="placeholder" [disableSearch]="true">
          <span millSelectOption key="1" value="Option 1"></span>
          <span millSelectOption key="2" value="Option 2"></span>
          <span millSelectOption key="3" value="Option 3"></span>
          <span millSelectOption key="4" value="Option 4"></span>
          <span millSelectOption key="5" value="Option 5"></span>
          <span millSelectOption key="6" value="Option 6"></span>
          <span millSelectOption key="7" value="Option 7"></span>
          <span millSelectOption key="8" value="Option 8"></span>
        </mill-select>

      </div>
    </div>

    <div class="overview__column grid-item-4">
      <div class="overview__label s1">Basic with search</div>
      <div class="overview__container">
        <mill-select caption="caption" placeholder="placeholder">
          <span millSelectOption key="1" value="Option 1"></span>
          <span millSelectOption key="2" value="Option 2"></span>
          <span millSelectOption key="3" value="Option 3"></span>
          <span millSelectOption key="4" value="Option 4"></span>
          <span millSelectOption key="5" value="Option 5"></span>
          <span millSelectOption key="6" value="Option 6"></span>
          <span millSelectOption key="7" value="Option 7"></span>
          <span millSelectOption key="8" value="Option 8"></span>
        </mill-select>

      </div>
    </div>

    <div class="overview__column grid-item-4">
      <div class="overview__label s1">Multi-select</div>
      <div class="overview__container">
        <mill-select caption="caption" placeholder="placeholder" [multiple]="true" [disableSearch]="true">
          <span millSelectOption key="1" value="Option 1"></span>
          <span millSelectOption key="2" value="Option 2"></span>
          <span millSelectOption key="3" value="Option 3"></span>
          <span millSelectOption key="4" value="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt"></span>
          <span millSelectOption key="5" value="Option 5"></span>
          <span millSelectOption key="6" value="Option 6"></span>
          <span millSelectOption key="7" value="Option 7"></span>
          <span millSelectOption key="8" value="Option 8"></span>
        </mill-select>
      </div>
    </div>

    <div class="overview__column grid-item-4">
      <div class="overview__label s1">Multi-select with search</div>
      <div class="overview__container">
        <mill-select caption="caption" placeholder="placeholder" [multiple]="true">
          <span millSelectOption key="1" value="Option 1"></span>
          <span millSelectOption key="2" value="Option 2"></span>
          <span millSelectOption key="3" value="Option 3"></span>
          <span millSelectOption key="4" value="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt"></span>
          <span millSelectOption key="5" value="Option 5"></span>
          <span millSelectOption key="6" value="Option 6"></span>
          <span millSelectOption key="7" value="Option 7"></span>
          <span millSelectOption key="8" value="Option 8"></span>
        </mill-select>
      </div>
    </div>

    <div class="overview__column grid-item-4">
      <div class="overview__label s1">Error alert</div>
      <div class="overview__container">
        <mill-select caption="caption" placeholder="placeholder" [formControl]="invalid">
          <span millSelectOption key="1" value="Option 1"></span>
          <span millSelectOption key="2" value="Option 2"></span>
          <span millSelectOption key="3" value="Option 3"></span>
          <span millSelectOption key="4" value="Option 4"></span>
          <span millSelectOption key="5" value="Option 5"></span>
          <span millSelectOption key="6" value="Option 6"></span>
          <span millSelectOption key="7" value="Option 7"></span>
          <span millSelectOption key="8" value="Option 8"></span>
          <mill-hint hintControl></mill-hint>
        </mill-select>

      </div>
    </div>

    <div class="overview__column grid-item-4">
      <div class="overview__label s1">Valid alert</div>
      <div class="overview__container">
        <mill-select caption="caption" placeholder="placeholder" [formControl]="valid">
          <span millSelectOption key="1" value="Option 1"></span>
          <span millSelectOption key="2" value="Option 2"></span>
          <span millSelectOption key="3" value="Option 3"></span>
          <span millSelectOption key="4" value="Option 4"></span>
          <span millSelectOption key="5" value="Option 5"></span>
          <span millSelectOption key="6" value="Option 6"></span>
          <span millSelectOption key="7" value="Option 7"></span>
          <span millSelectOption key="8" value="Option 8"></span>
          <mill-hint hintControl [valid]="true" caption="Valid true"></mill-hint>
        </mill-select>

      </div>
    </div>

    <div class="overview__column grid-item-4">
      <div class="overview__label s1">Info alert</div>
      <div class="overview__container">
        <mill-select caption="caption" placeholder="placeholder">
          <span millSelectOption key="1" value="Option 1"></span>
          <span millSelectOption key="2" value="Option 2"></span>
          <span millSelectOption key="3" value="Option 3"></span>
          <span millSelectOption key="4" value="Option 4"></span>
          <span millSelectOption key="5" value="Option 5"></span>
          <span millSelectOption key="6" value="Option 6"></span>
          <span millSelectOption key="7" value="Option 7"></span>
          <span millSelectOption key="8" value="Option 8"></span>
          <mill-hint caption="Info alert"></mill-hint>
        </mill-select>

      </div>
    </div>

    <div class="overview__column grid-item-4">
      <div class="overview__label s1">Disabled</div>
      <div class="overview__container">
        <mill-select caption="caption" placeholder="placeholder" [disabled]="true">
          <span millSelectOption key="1" value="Option 1"></span>
          <span millSelectOption key="2" value="Option 2"></span>
          <span millSelectOption key="3" value="Option 3"></span>
          <span millSelectOption key="4" value="Option 4"></span>
          <span millSelectOption key="5" value="Option 5"></span>
          <span millSelectOption key="6" value="Option 6"></span>
          <span millSelectOption key="7" value="Option 7"></span>
          <span millSelectOption key="8" value="Option 8"></span>
        </mill-select>
      </div>
    </div>
    
  </div>
</div>
