:host {
  box-sizing: border-box;
  display: block;
}

.overview {
  &__column {
    grid-column: span 6;

    &:nth-of-type(2n - 1) {
      grid-column-start: 1;
      grid-column-end: 7;
    }
  }
}
