:host {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;

	transition-duration: inherit;

	transform: translateX(-100%);

	&.tab_active {
		position: relative;
		transform: translateX(0);
	}
}

.tab_active ~ :host {
	transform: translateX(100%);
}
