<div class="overview">
  <div class="overview__header">
    <div class="h4">Chips</div>
    <div class="overview__links">
      <a href="" class="overview__link s2">
        <mill-icon name="figma"></mill-icon>
        Компонент в Figma
      </a>
    </div>
  </div>

  <div class="overview__content grid">
    <div class="overview__column overview__column_offset grid-item-12">
      <div class="overview__label s1">Outlined active chips</div>
      <div class="overview__container">
        <mill-chip-list>
          <mill-chip view="outlined" state="active-primary">Primary</mill-chip>
          <mill-chip view="outlined" icon="check" state="active-primary">Primary</mill-chip>
          <mill-chip view="outlined" icon="check" state="active-secondary">Secondary</mill-chip>
        </mill-chip-list>
      </div>
    </div>
    <div class="overview__column overview__column_offset grid-item-12">
      <div class="overview__label s1">Filled active chips</div>
      <div class="overview__container">
        <mill-chip-list>
          <mill-chip view="filled" state="active-primary">Primary</mill-chip>
          <mill-chip view="filled" icon="check" state="active-primary">Primary</mill-chip>
          <mill-chip view="filled" state="active-secondary">Secondary</mill-chip>
        </mill-chip-list>
      </div>
    </div>
    <div class="overview__column overview__column_offset grid-item-12">
      <div class="overview__label s1">Outlined basic chips</div>
      <div class="overview__container">
        <mill-chip-list>
          <mill-chip view="outlined">Chip label</mill-chip>
          <mill-chip view="outlined" icon="calendar">Chip label</mill-chip>
          <mill-chip view="outlined" icon="calendar">
            Chip label
            <mill-icon size="12" name="close" millChipRemove></mill-icon>
          </mill-chip>
        </mill-chip-list>
      </div>
    </div>
    <div class="overview__column overview__column_offset grid-item-12">
      <div class="overview__label s1">Filled basic chips</div>
      <div class="overview__container">
        <mill-chip-list>
          <mill-chip view="filled">Chip label</mill-chip>
          <mill-chip view="filled" icon="calendar">Chip label</mill-chip>
          <mill-chip view="filled" icon="calendar">
            Chip label
            <mill-icon size="12" name="close" millChipRemove></mill-icon>
          </mill-chip>
        </mill-chip-list>
      </div>
    </div>
    <div class="overview__column overview__column_offset grid-item-12">
      <div class="overview__label s1">Basic chips with error</div>
      <div class="overview__container">
        <mill-chip-list>
          <mill-chip view="outlined" state="basic-with-error">
            Chip label
            <mill-icon size="12" name="close" millChipRemove></mill-icon>
          </mill-chip>
          <mill-chip view="outlined" state="basic-with-error" icon="calendar">
            Chip label
            <mill-icon size="12" name="close" millChipRemove></mill-icon>
          </mill-chip>
          <mill-chip view="filled" state="basic-with-error">
            Chip label
            <mill-icon size="12" name="close" millChipRemove></mill-icon>
          </mill-chip>
          <mill-chip view="filled" state="basic-with-error" icon="calendar">
            Chip label
            <mill-icon size="12" name="close" millChipRemove></mill-icon>
          </mill-chip>
        </mill-chip-list>
      </div>
    </div>
    <div class="overview__column overview__column_offset grid-item-12">
      <div class="overview__label s1">Disabled chips (Active)</div>
      <div class="overview__container">
        <mill-chip-list>
          <mill-chip view="outlined" state="active-primary" disabled="true">
            Active outlined
          </mill-chip>
          <mill-chip view="outlined" state="active-primary" icon="check" disabled="true">
            Active outlined with icon
          </mill-chip>
        </mill-chip-list>
        <mill-chip-list>
          <mill-chip view="filled" state="active-primary" disabled="true">
            Active filled
          </mill-chip>
          <mill-chip view="filled" state="active-primary" icon="check" disabled="true">
            Active filled with icon
          </mill-chip>
          <mill-chip view="filled" state="active-secondary" disabled="true">
            Active filled (secondary)
          </mill-chip>
        </mill-chip-list>
      </div>

  </div>
    <div class="overview__column overview__column_offset grid-item-12">
      <div class="overview__label s1">Disabled chips (Basic)</div>
      <div class="overview__container">
        <mill-chip-list>
          <mill-chip view="outlined" disabled="true">
            Outlined
          </mill-chip>
          <mill-chip view="outlined" disabled="true">
            Outlined
            <mill-icon size="12" name="close" millChipRemove></mill-icon>
          </mill-chip>
          <mill-chip view="outlined" icon="calendar" disabled="true">
            Outlined
          </mill-chip>
          <mill-chip view="outlined" icon="calendar" disabled="true">
            Outlined
            <mill-icon size="12" name="close" millChipRemove></mill-icon>
          </mill-chip>
        </mill-chip-list>
        <mill-chip-list>
          <mill-chip view="filled" disabled="true">
            Filled
          </mill-chip>
          <mill-chip view="filled" disabled="true">
            Filled
            <mill-icon size="12" name="close" millChipRemove></mill-icon>
          </mill-chip>
          <mill-chip view="filled" icon="calendar" disabled="true">
            Filled
          </mill-chip>
          <mill-chip view="filled" icon="calendar" disabled="true">
            Filled
            <mill-icon size="12" name="close" millChipRemove></mill-icon>
          </mill-chip>
        </mill-chip-list>
      </div>

    </div>
</div>
</div>
