<div class="overview">
  <div class="overview__header">
    <div class="h4">Иконки</div>
  </div>
  <div class="overview__content grid">
    <div class="overview__column grid-item-12">
      <div class="icon-header">
        <div class="overview__label h5">Маленькі <span class="icon-small">12x12px</span></div>
        <a href="" class="overview__link s1"><mill-icon name="figma"></mill-icon>Компонент в Figma</a>
      </div>
      <div class="overview__container">
        <div *ngFor="let icon of icons12" class="icon-block">
          <mill-icon size="12" [name]="icon" (mouseover)="onHover(icon)" (click)="onClick(input)"></mill-icon>
          <div class="icon-preview p2">{{icon}}</div>
        </div>
      </div>
    </div>
    <div class="overview__column grid-item-12">
      <div class="icon-header">
        <div class="overview__label h5">Середні <span class="icon-small">24x24px</span></div>
        <a href="" class="overview__link s1"><mill-icon name="figma"></mill-icon>Компонент в Figma</a>
      </div>
      <div class="overview__container">
        <div *ngFor="let icon of icons24" class="icon-block">
          <mill-icon [name]="icon" (mouseover)="onHover(icon)" (click)="onClick(input)"></mill-icon>
          <div class="icon-preview p2">{{icon}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="opacity: 0">
  <input type="text" [value]="iconName" #input>
</div>
