@import "~@mill/figma/colors";

checkbox {
  &:not(:last-of-type) {
    margin-right: 12px;
  }
}

.overview {
  &__column {
    @media screen and (max-width: 1340px) {
      grid-column: span 6;
    }

    &:nth-of-type(2n - 1) {
      grid-column-start: 3;
      grid-column-end: 7;

      @media screen and (max-width: 1340px) {
        grid-column-start: 1;
        grid-column-end: 7;
      }
    }
  }

  &__container {
    min-height: 96px;
    box-sizing: border-box;
  }
}
