<div class="overview">
  <div class="overview__header">
    <div class="h4">Checkbox</div>
    <div class="overview__links">
<!--      <a href="" class="overview__link s2"><mill-icon name="lightbulb"></mill-icon>Огляд компонента</a>-->
      <a href="" class="overview__link s2"><mill-icon name="figma"></mill-icon>Компонент в Figma</a>
    </div>
  </div>
  <div class="overview__content grid">
    <div class="overview__column grid-item-4">
      <div class="overview__label s1">Unchecked</div>
      <div class="overview__container">
        <mill-checkbox [hideLabel]="hideLabel">{{label}}</mill-checkbox>
      </div>
    </div>
    <div class="overview__column grid-item-4">
      <div class="overview__label s1">Checked</div>
      <div class="overview__container">
        <mill-checkbox [hideLabel]="hideLabel" checked="true">{{label}}</mill-checkbox>
      </div>
    </div>
    <div class="overview__column grid-item-4">
      <div class="overview__label s1">Partly checked</div>
      <div class="overview__container">
        <mill-checkbox [hideLabel]="hideLabel" [indeterminate]="true">{{label}}</mill-checkbox>
      </div>
    </div>
    <div class="overview__column grid-item-4">
      <div class="overview__label s1">Disabled unchecked</div>
      <div class="overview__container">
        <mill-checkbox [hideLabel]="hideLabel" [disabled]="true" [tabindex]="-1">{{label}}</mill-checkbox>
      </div>
    </div>
    <div class="overview__column grid-item-4">
      <div class="overview__label s1">Disabled checked</div>
      <div class="overview__container">
        <mill-checkbox [hideLabel]="hideLabel" checked="true" [disabled]="true" [tabindex]="-1">{{label}}</mill-checkbox>
      </div>
    </div>
    <div class="overview__column grid-item-4">
      <div class="overview__label s1">Without label</div>
      <div class="overview__container overview__container_row">
        <mill-checkbox [hideLabel]="true" [disabled]="true" [tabindex]="-1"></mill-checkbox>
        <mill-checkbox [hideLabel]="true" [disabled]="true" checked="true" [tabindex]="-1"></mill-checkbox>
        <mill-checkbox [hideLabel]="true"></mill-checkbox>
        <mill-checkbox [hideLabel]="true" checked="true"></mill-checkbox>
        <mill-checkbox [hideLabel]="true" [indeterminate]="true"></mill-checkbox>
      </div>
    </div>
  </div>
</div>

