<div class="h3">Checkbox</div>
<br>
<div class="preview">
  <div class="preview__block">
    <div class="preview__label s1">Unchecked</div>
    <div class="preview__component">
      <checkbox class="p1" [hideLabel]="hideLabel">{{label}}</checkbox>
    </div>
  </div>

  <div class="preview__block">
    <div class="preview__label s1">Checked</div>
    <div class="preview__component">
      <checkbox class="p1" [hideLabel]="hideLabel" [checked]="true">{{label}}</checkbox>
    </div>
  </div>

  <div class="preview__block">
    <div class="preview__label s1">Indeterminate</div>
    <div class="preview__component">
      <checkbox class="p1" [hideLabel]="hideLabel" [indeterminate]="true">{{label}}</checkbox>
    </div>
  </div>

  <div class="preview__block">
    <div class="preview__label s1">Disabled / Unchecked</div>
    <div class="preview__component">
      <checkbox class="p1" [hideLabel]="hideLabel" [disabled]="true">{{label}}</checkbox>
    </div>
  </div>

  <div class="preview__block">
    <div class="preview__label s1">Disabled / Checked</div>
    <div class="preview__component">
      <checkbox class="p1" [hideLabel]="hideLabel" [checked]="true" [disabled]="true">{{label}}</checkbox>
    </div>
  </div>

  <div class="preview__block">
    <div class="preview__label s1">Without label</div>
    <div class="preview__component">
      <checkbox class="p1" [hideLabel]="true">{{label}}</checkbox>
    </div>
  </div>
</div>
