:host {
  padding: 24px;
  box-sizing: border-box;
  display: block;
}

.preview-block {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #e1e1e8;
  border-radius: 8px;
  padding: 24px;
  height: 100%;
  box-sizing: border-box;
  margin-top: 18px;
}
