@import "~@mill/figma/colors";
@import "~@mill/figma/typography";
@import "~@mill/figma/icons";

$outer_width: 92px;
$outer_height: 92px;

$inner_width: 42px;
$inner_height: 42px;

$border_bold: 4px;

/**
  Inner spinner
*/
@mixin inner-spinner {
  width: $inner_width;
  height: $inner_height;
  position: relative;
  animation: inner__sporadic-rotate 5.25s cubic-bezier(0.35, 0, 0.25, 1) infinite;

  .inner_gap {
    position: absolute;
    left: 49px;
    right: 49px;
    border-top: 5px solid;
    box-sizing: border-box;
  }

  .inner_left,
  .inner_right {
    position: absolute;
    top: 0;
    height: $inner_height;
    width: $inner_width / 2;
    overflow: hidden;

    .inner_half-circle {
      position: absolute;
      top: 0;
      width: $inner_width;
      height: $inner_height;
      box-sizing: border-box;
      border: $border_bold solid $red-50;
      border-bottom-color: transparent;
      border-radius: 50%;
    }
  }

  .inner_left {
    left: 0;

    .inner_half-circle {
      left: 0;
      border-right-color: transparent;
      animation: inner__left-wobble 1.3125s cubic-bezier(0.35, 0, 0.25, 1) infinite;
      -webkit-animation: inner__left-wobble 1.3125s cubic-bezier(0.35, 0, 0.25, 1) infinite;
    }
  }

  .inner_right {
    right: 0;

    .inner_half-circle {
      right: 0;
      border-left-color: transparent;
      animation: inner__right-wobble 1.3125s cubic-bezier(0.35, 0, 0.25, 1) infinite;
      -webkit-animation: inner__right-wobble 1.3125s cubic-bezier(0.35, 0, 0.25, 1) infinite;
    }
  }
}

/**
  Outer spinner
*/
@mixin outer-spinner {
  width: $outer_width;
  height: $outer_height;
  position: relative;
  animation: outer__sporadic-rotate 5.25s cubic-bezier(0.35, 0, 0.25, 1) infinite;

  .outer_gap {
    position: absolute;
    top: 0;
    bottom: 0;
    border-top: 2px solid;
    box-sizing: border-box;
  }

  .outer_left,
  .outer_right {
    position: absolute;
    top: 0;
    height: $outer_height;
    width: $outer_width / 2;
    overflow: hidden;

    .outer_half-circle {
      position: absolute;
      top: 0;
      width: $outer_width;
      height: $outer_height;
      box-sizing: border-box;
      border: $border_bold solid $red-50;
      border-bottom-color: transparent;
      border-radius: 50%;
    }
  }

  .outer_left {
    left: 0;

    .outer_half-circle {
      left: 0;
      border-right-color: transparent;
      animation: outer__left-wobble 1.3125s cubic-bezier(0.35, 0, 0.25, 1) infinite;
      -webkit-animation: outer__left-wobble 1.3125s cubic-bezier(0.35, 0, 0.25, 1) infinite;
    }
  }

  .outer_right {
    right: 0;

    .outer_half-circle {
      right: 0;
      border-left-color: transparent;
      animation: outer__right-wobble 1.3125s cubic-bezier(0.35, 0, 0.25, 1) infinite;
      -webkit-animation: outer__right-wobble 1.3125s cubic-bezier(0.35, 0, 0.25, 1) infinite;
    }
  }
}

:host.mill-spinner {
  .spinner_label {
    color: $grey-70;
    top: 100px;
    position: relative;
  }

  position: relative;
  text-align: center;
  white-space: nowrap;
  font-family: Gilroy, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  width: $outer_width;

  .spinner-wrapper {
    position: relative;
    width: 100%;
    min-height: $outer_height;
    height: $outer_height;
  }

  .spinner-wrapper .inner__spinner {
    animation: inner-rotate 2s linear infinite;

    .inner__spinner__outline {
      position: absolute;
      border: 2px solid #b6b6bf;
      border-radius: 50%;
      height: $inner_height - $border_bold;
      width: $inner_width - $border_bold;
    }

    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -($inner_width / 2);
    margin-top: -($inner_height / 2);

    .inner {
      @include inner-spinner;
    }
  }

  .spinner-wrapper .outer__spinner {
    animation: outer-rotate 2s linear infinite;

    .outer__spinner__outline {
      position: absolute;
      border: 2px solid #b6b6bf;
      border-radius: 50%;
      height: $outer_height - $border_bold;
      width: $outer_width - $border_bold;
    }

    .outer {
      @include outer-spinner;
    }
  }

  @keyframes inner-rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes inner__left-wobble {
    0%, 100% {
      transform: rotate(130deg);
    }
    50% {
      transform: rotate(-5deg);
    }
  }

  @keyframes inner__right-wobble {
    0%, 100% {
      transform: rotate(-130deg);
    }
    50% {
      transform: rotate(5deg);
    }
  }

  @keyframes inner__sporadic-rotate {
    12.5% {
      transform: rotate(135deg);
    }
    25% {
      transform: rotate(270deg);
    }
    37.5% {
      transform: rotate(405deg);
    }
    50% {
      transform: rotate(540deg);
    }
    62.5% {
      transform: rotate(675deg);
    }
    75% {
      transform: rotate(810deg);
    }
    87.5% {
      transform: rotate(945deg);
    }
    100% {
      transform: rotate(1080deg);
    }
  }

  @keyframes outer-rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }

  @keyframes outer__left-wobble {
    0%, 100% {
      transform: rotate(130deg);
    }
    50% {
      transform: rotate(-5deg);
    }
  }

  @keyframes outer__right-wobble {
    0%, 100% {
      transform: rotate(-130deg);
    }
    50% {
      transform: rotate(5deg);
    }
  }

  @keyframes outer__sporadic-rotate {
    12.5% {
      transform: rotate(-135deg);
    }
    25% {
      transform: rotate(-270deg);
    }
    37.5% {
      transform: rotate(-405deg);
    }
    50% {
      transform: rotate(-540deg);
    }
    62.5% {
      transform: rotate(-675deg);
    }
    75% {
      transform: rotate(-810deg);
    }
    87.5% {
      transform: rotate(-945deg);
    }
    100% {
      transform: rotate(-1080deg);
    }
  }
}
