<div class="spinner-wrapper">

  <div class="outer__spinner">
    <div class="outer__spinner__outline"></div>
      <div class="outer">
        <div class="outer_gap"></div>
        <div class="outer_left">
          <div class="outer_half-circle"></div>
        </div>
        <div class="outer_right">
          <div class="outer_half-circle"></div>
        </div>
      </div>
  </div>


  <div class="inner__spinner">
    <div class="inner__spinner__outline"></div>
    <div class="inner">
      <div class="inner_gap"></div>
      <div class="inner_left">
        <div class="inner_half-circle"></div>
      </div>
      <div class="inner_right">
        <div class="inner_half-circle"></div>
      </div>
    </div>
  </div>

  <span class="spinner_label">
    <ng-content></ng-content>
  </span>
</div>
