<div class="spinner-wrapper">
  <ng-container [ngSwitch]="size">
    <div *ngSwitchCase="'small'" class="small-group">
      <div class="small-wrap">
        <svg viewBox="0 0 100 100" class="small">
          <circle class="path small" cx="50" cy="50" r="46" stroke-width="7px"></circle>
        </svg>
      </div>
    </div>

    <div *ngSwitchCase="'medium'" class="medium-group">
      <div class="small-wrap">
        <svg viewBox="0 0 100 100" class="small">
          <circle class="path small" cx="50" cy="50" r="46" stroke-width="7px"></circle>
        </svg>
      </div>
      <div class="medium-wrap">
        <svg viewBox="0 0 100 100" class="medium">
          <circle class="path medium" cx="50" cy="50" r="48" stroke-width="4px"></circle>
        </svg>
      </div>
    </div>

    <div *ngSwitchCase="'big'" class="big-group">
      <div class="small-wrap">
        <svg viewBox="0 0 100 100" class="small">
          <circle class="path small" cx="50" cy="50" r="46" stroke-width="7px"></circle>
        </svg>
      </div>
      <div class="medium-wrap">
        <svg viewBox="0 0 100 100" class="medium">
          <circle class="path medium" cx="50" cy="50" r="48" stroke-width="4px"></circle>
        </svg>
      </div>
      <div class="big-wrap">
        <svg viewBox="0 0 100 100" class="big">
          <circle class="path big" cx="50" cy="50" r="49" stroke-width="2.5px"></circle>
        </svg>
      </div>
    </div>
  </ng-container>

  <ng-container>
    <div class="label-text">
      <ng-content></ng-content>
    </div>
    <div class="label-text" *ngIf="label">{{label}}</div>
    <div class="description-text" *ngIf="description">{{description}}</div>
  </ng-container>
</div>
