.file-attach__utils__ml-16 {
  margin-left: 16px !important;
}

.file-attach__utils__ml-8 {
  margin-left: 8px !important;
}

.file-attach__utils__flex-start {
  justify-content: flex-start !important;
}

.file-attach__colors__orange {
  color: #F57F17;
}

.file-attach__fonts__warn {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: #F57F17;
}

.file-attach__content {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;

  &.rtl {
    flex-direction: row-reverse;
  }

  &.bottom {
    flex-direction: column-reverse;
  }
}

.file-attach__content_files {
  display: flex;
  flex-direction: column;
}

.file-attach__content_label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  background: #FFFFFF;
  border-radius: 8px;

  padding: 11px 16px;

  &:hover {
    background: #F5F5FA;
  }

  &.ltr {
    margin: 0 8px 0 0;
  }

  &.rtl {
    margin: 0 0 0 8px;
  }

  &.bottom {
    margin: 8px 0 0 0;
  }
}
