<div class="file-attach__container" [ngClass]="[containerSide]">
  <div [class.file-attach__container_flex]="listSide === 'bottom'"
       [class.file-attach__container_grid]="listSide !== 'bottom'">
    <ng-container
      *ngFor="let file of files; index as index"
      [ngTemplateOutlet]="fileLabelWrap"
      [ngTemplateOutletContext]="{
        name: file?.name,
        state: file?.isError ? 'error' : file?.isLoading ? 'loading' : '',
        index: index
      }"
    ></ng-container>
  </div>
  <ng-container [ngTemplateOutlet]="inputView === 'button' ? buttonView : dropZoneView"></ng-container>
  <input #fileInput type="file" hidden
         [accept]="fileAcceptedTypes"
         [multiple]="multiple"
         (change)="onFileLoaded($event)"/>
</div>

<ng-template #fileLabelWithDelete let-name="name" let-index="index">
  <span class="file-attach__p2 p2">{{ textEllipsisCenter(name) }}</span>
  <mill-button view="hidden" icon="trash" (click)="removeFileClick(index)"></mill-button>
</ng-template>

<ng-template #fileLabelWithError let-name="name" let-index="index">
  <div class="file-attach__content file-attach__content_flex_row_space">
    <mill-icon name="warning" class="file-attach__icon file-attach__icon_warning" size="12"></mill-icon>
    <span class="file-attach__label file-attach__label_warning p2">
      Помилка в: {{ textEllipsisCenter(name, 5) }}
    </span>
  </div>
  <mill-button view="hidden" icon="refresh" (click)="reAttachFileClick(index)"></mill-button>
</ng-template>

<ng-template #fileLabelWithLoader let-name="name">
  <span class="file-attach__p2 p2">{{ textEllipsisCenter(name) }}</span>
  <div class="file-attach__loader-wrap">
    <div class="file-attach__loader"></div>
  </div>
</ng-template>

<ng-template #fileLabelWrap let-state="state" let-name="name" let-index="index">
  <div class="file-attach__item"
       @flyInOut
       [class.file-attach__item_error-state]="state === 'error'"
       [class.file-attach__item_loading-state]="state === 'loading'"
       [ngClass]="[itemSide, 'file-attach__item_ghost-view']">
    <ng-container [ngSwitch]="state">
      <ng-template *ngSwitchCase="'error'"
                   [ngTemplateOutlet]="fileLabelWithError"
                   [ngTemplateOutletContext]="{name: name, index: index}"></ng-template>
      <ng-template *ngSwitchCase="'loading'"
                   [ngTemplateOutlet]="fileLabelWithLoader"
                   [ngTemplateOutletContext]="{name: name}"></ng-template>
      <ng-template *ngSwitchDefault
                   [ngTemplateOutlet]="fileLabelWithDelete"
                   [ngTemplateOutletContext]="{name: name, index: index}"></ng-template>
    </ng-container>
  </div>
</ng-template>

<ng-template #buttonView>
  <mill-button view="ghost" icon="attach"
               [disabled]="disabled"
               (click)="chooseFileClick()">{{ actionCaption }}</mill-button>
</ng-template>

<ng-template #dropZoneView>
  <ng-container [ngTemplateOutlet]="disabled ? disabledDropZoneView : activeDropZoneView"></ng-container>
</ng-template>

<ng-template #activeDropZoneView>
  <div class="file-attach__dropzone" mill-dropzone
       [acceptedMimeTypes]="fileAcceptedTypes && fileAcceptedTypes.split(',')"
       (uploadedFile)="onDroppedFileUploaded($event)"
       (click)="chooseFileClick()">
    <div class="file-attach__dropzone__primary_text">
      <span>Оберіть файл</span>
      <mill-icon class="file-attach__dropzone__primary_text_icon" name="upload"></mill-icon>
    </div>
    <span class="file-attach__dropzone__secondary_text">або перетягніть його сюди</span>
  </div>
</ng-template>

<ng-template #disabledDropZoneView>
  <div class="file-attach__dropzone disabled">
    <div class="file-attach__dropzone__primary_text">
      <span>Оберіть файл</span>
      <mill-icon class="file-attach__dropzone__primary_text_icon" name="upload"></mill-icon>
    </div>
    <span class="file-attach__dropzone__secondary_text">або перетягніть його сюди</span>
  </div>
</ng-template>
