@import "~@mill/figma/colors";
@import "~@mill/figma/typography";

.file-attach__utils__ml-16 {
  margin-left: 16px !important;
}

.file-attach__utils__ml-8 {
  margin-left: 8px !important;
}

.file-attach__utils__flex-start {
  justify-content: flex-start !important;
}

.file-attach__colors__orange {
  color: $orange-50;
}

.file-attach__fonts__p2 {
  @extend %p2;
  color: $grey-70;
}

.file-attach__content {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;

  &.rtl {
    flex-direction: row-reverse;
  }

  &.bottom {
    flex-direction: column-reverse;
  }
}

.file-attach__content_files {
  display: flex;
  flex-direction: column;
}

.file-attach__content_label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #FFFFFF;
  border-radius: 8px;
  padding: 0 4px 0 16px;
  width: 264px;

  &.ghost-view {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.03), 0 2px 7px rgba(0, 0, 0, 0.1), 0 0 2px rgba(0, 0, 0, 0.2);
  }

  &.error-state {
    padding: 11px 4px 9px 16px;
  }

  &:hover {
    background: #F5F5FA;
  }

  &.ltr {
    margin: 0 8px 8px 0;
  }

  &.rtl {
    margin: 0 0 8px 8px;
  }

  &.bottom {
    margin: 8px 0 0 0;
  }
}

.button_hidden:hover:not(:disabled) {
  background: $red-10 !important;
}
