<div class="file-attach__content" [ngClass]="[side]">
  <div class="file-attach__content_files">
    <ng-template *ngFor="let file of files; index as index"
                 [ngTemplateOutlet]="fileLabelWrap"
                 [ngTemplateOutletContext]="{name: file?.name, isError: file?.isError, index: index}"></ng-template>
  </div>
  <mill-button view="ghost" icon="attach" (click)="chooseFileClick()">{{ actionCaption }}</mill-button>
  <input #fileInput name="img" type="file" [accept]="fileAcceptedTypes" hidden (change)="onFileLoaded($event)"/>
</div>

<ng-template #fileLabelWithDelete let-name="name" let-index="index">
  <span class="file-attach__fonts__p2">{{ name }}</span>
  <mill-button view="hidden" icon="trash" class="file-attach__utils__ml-16" (click)="removeFileClick(index)"></mill-button>
</ng-template>

<ng-template #fileLabelWithError>
  <mill-icon name="warning" class="file-attach__colors__orange" size="12"></mill-icon>
  <span class="file-attach__fonts__p2 file-attach__colors__orange file-attach__utils__ml-8">Файл пошкоджений</span>
</ng-template>

<ng-template #fileLabelWrap let-isError="isError" let-name="name" let-index="index">
  <div class="file-attach__content_label"
       @flyInOut
       [class.error-state]="isError"
       [class.file-attach__utils__flex-start]="isError"
       [ngClass]="[side, view + '-view']">
    <ng-container [ngSwitch]="isError">
      <ng-template *ngSwitchCase="true"
                   [ngTemplateOutlet]="fileLabelWithError"></ng-template>
      <ng-template *ngSwitchDefault
                   [ngTemplateOutlet]="fileLabelWithDelete"
                   [ngTemplateOutletContext]="{name: name, index: index}"></ng-template>
    </ng-container>
  </div>
</ng-template>
