<h4 class="h4"> NgModel + FormControl </h4>

<hr>
<input type="text" #testInp1> <button (click)="formControl.setValue(testInp1.value.split(','))">SET</button>
{{ formControl.value }}

<mill-select caption="Select" placeholder="Placeholder" [formControl]="formControl" [multiple]="true"
  [optionSource]="settlementOs">
  <mill-hint hintControl></mill-hint>
</mill-select>

<form action="" ngForm>
  <mill-select caption="Select" placeholder="Placeholder" ngModel name="test" required [multiple]="true"
    [optionSource]="settlementOs">
    <mill-hint hintControl></mill-hint>
  </mill-select>

  <button type="submit">S</button>

</form>

<hr>

<h4 class="h4"> Multiple </h4>
<mill-select caption="Select" [selected]="[2]" [multiple]="true" placeholder="Placeholder" [optionSource]="simpleOS">
</mill-select>


<mill-select caption="Select" [multiple]="true" placeholder="Placeholder">
  <ng-container millSelectOption key="opt-1" value="Option 1"></ng-container>
  <ng-container millSelectOption key="opt-2" value="Option 2"></ng-container>
</mill-select>

<mill-select caption="Select 100" [multiple]="true" [selected]="[3, 99, 54, 23, 99]" placeholder="100 Option Items"
  [optionSource]="os100"></mill-select>

<mill-select caption="Select" placeholder="Placeholder" [selected]="[11, 12, 13, 14]" [multiple]="true"
  [optionSource]="settlementOs">
</mill-select>

<h4 lcass="h4">Simple seelct with template options</h4>

<mill-select #select228Papirosim caption="Select" placeholder="Placeholder">
  <ng-container millSelectOption key="opt-1" value="Option 1"></ng-container>
  <ng-container millSelectOption key="opt-2" value="Option 2"></ng-container>
</mill-select>

<button (click)="select228Papirosim.selected = ''">Clear</button>

<h4 lcass="h4">Simple seelct with template options</h4>

<mill-select caption="Select" [selected]="2" placeholder="Placeholder" [optionSource]="simpleOS"></mill-select>
<mill-select caption="Select 100" [selected]="3" placeholder="100 Option Items" [optionSource]="os100"></mill-select>
<mill-select caption="Select 1000" [selected]="874" placeholder="1000 Option Items" [optionSource]="os1000">
</mill-select>



<h4 lcass="h4">Benchmark</h4>
{{ f.value | json }}

<div ngForm #f=ngForm>
  <mill-select caption="Select" ngModel [name]="'s' + index" placeholder="Placeholder" [optionSource]="settlementOs"
    *ngFor="let i of range; index as index">
  </mill-select>
</div>
