<hn-select #typeSelect required name="type" ngModel #typeModel=ngModel
  class="form-grid__span-2" (ngModelChange)="onTypeChange($event)">
  <hn-select-header caption="Вид доходу" #typeSelectHeader></hn-select-header>
  <hn-select-body>
    <hn-select-body-filter [dataSource]="settlementOs" #typeFilter></hn-select-body-filter>
    <hn-select-option [value]="option.key" [caption]="option.value" *ngFor="let option of typeFilter.options">
      {{ option.value }}
    </hn-select-option>
  </hn-select-body>
</hn-select>

<!-- <h4 lcass="h4">Simple seelct with template options</h4>

<mill-select caption="Select" placeholder="Placeholder" ngModel (ngModelChange)="onModelChange($event)" [ngModelOptions]="{standalone: true}">
  <mill-select-option key="opt-1" value="Option 1"></mill-select-option>
  <mill-select-option key="opt-2" value="Option 2"></mill-select-option>
</mill-select>

<h4 lcass="h4">Simple seelct with template options</h4>

<mill-select caption="Select" [selected]="3" placeholder="Placeholder" [optionSource]="simpleOS"></mill-select>


<h4 lcass="h4">Benchmark</h4> -->

<!-- <mill-select caption="Select"  placeholder="Placeholder" [optionSource]="settlementOs" *ngFor="let i of range"></mill-select> -->
