<fuui-button variety="contained" (click)="dialog = true;"><fuui-icon>home</fuui-icon>Open Modal</fuui-button>
<fuui-button><fuui-icon>close</fuui-icon>Test</fuui-button>
<fuui-button variety="contained"><fuui-icon>search</fuui-icon></fuui-button>
<fuui-icon>home</fuui-icon>


<fuui-input-control style="width: 500px"></fuui-input-control>

<fuui-dialog [(active)]="dialog">
  <fuui-dialog-header>
    New customer
  </fuui-dialog-header>

  <fuui-dialog-body>
    <fuui-input title="First name"></fuui-input>
    <fuui-input title="Middle name"></fuui-input>
    <fuui-input title="Last name"></fuui-input>
  </fuui-dialog-body>

  <fuui-dialog-footer>
    <span></span>
    <fuui-button (click)="dialog = false;">
      Done
    </fuui-button>
  </fuui-dialog-footer>
</fuui-dialog>
