<input hnInput="text" [cleanFn]="c" required [formControl]="control" placeholder="Test input 0-9+"
  caption="Название поля" [errors]="control.errors">

{{ control.errors | json }}

<hn-select selected="TEST" required>
  <hn-select-header placeholder=""></hn-select-header>
  <hn-select-body>
    <hn-select-body-filter [dataSource]="ds" hidden></hn-select-body-filter>
    <hn-select-option value="1">One</hn-select-option>
    <hn-select-option value="2">Two</hn-select-option>
    <hn-select-option value="3">Three</hn-select-option>
  </hn-select-body>
</hn-select>


<input type="text" #inputt>
