@import "~@mill/figma/colors";

.button-header {
  grid-column-start: 1;
  grid-column-end: 11;
  margin-top: 40px;
}

.button-separator {
  background: $grey-20;
  height: 1px;
  grid-column-start: 1;
  grid-column-end: 13;
  margin-top: 48px;
}

.overview {
  &__column {
    @media screen and (max-width: 1340px) {
      grid-column: span 6;
    }

    &:nth-of-type(2n) {
      grid-column-start: 3;
      grid-column-end: 7;

      @media screen and (max-width: 1340px) {
        grid-column-start: 1;
        grid-column-end: 7;
      }
    }
  }

  &__content {
    max-width: 712px;
    margin-left: auto;
    margin-right: auto;
  }
}

mill-button {
  &:not(:last-of-type) {
    margin-bottom: 24px;
  }
}
