@import "~@mill/figma/colors";
@import "~@mill/figma/icons";

%icon_white {
  background: #fff;
}

.switcher {
  width: 40px;
  height: 24px;
  border-radius: 24px;
  position: relative;
  box-sizing: border-box;
  border: 1px solid transparent;
}

.switcher__button {
  width: 16px;
}

.switcher__circle {
  width: 24px;
  height: 24px;
  border-radius: 24px;
  position: absolute;
  top: -1px;

  border: none;
  outline: none;

  display: flex;
  align-items: center;
  justify-content: center;
}

.switcher__icon {
  @extend .icon_12;
  @extend %icon_white;
}


.switcher-off {
  border: 1px solid $grey-40;
  .switcher__circle {
    left: -1px;
    background: $grey-40;

    &:hover {
      background: $grey-50;
    }

    &:focus {
      background: $grey-60;
    }

  }

  .switcher__icon {
    @extend .icon_error;
  }

}

.switcher-on {
  border: 1px solid $red-40;
  .switcher__circle {
    background: $red-50;

    &:hover {
      background: $red-40;
    }

    &:focus {
      background: $red-60;
    }

  }

  .switcher__icon {
    @extend .icon_ok;
  }

}

.switcher_disabled {
  pointer-events: none;
  border: 1px solid $grey-20;
  .switcher__circle {
    background: $grey-20;
  }
}

