<div class="switcher"
	 #switcher
   (click)="onClick()"
   [class.switcher_on]="active"
   [class.switcher_off]="!active"
   [class.switcher_disabled]="disabled"
>
  <div *ngIf="active === null" class="switcher__loader">
    <mill-icon [name]="'spinner'" color="#fff"></mill-icon>
  </div>
	<switcher-circle
    *ngIf="active !== null"
    [active]="active"
    (eventOutput)="onEvent($event)"
    (circleWidth)="setMaxPosition($event)"
    [ngStyle]="{'display': 'block', 'transform': calculatePosition(), 'transition': isMoved ? '0s' : '0.2s ease'}"
  ></switcher-circle>
</div>
