<div class="overview">
  <div class="overview__header">
    <div class="h4">Dialog boxes</div>
    <div class="overview__links">
      <!--      <a href="" class="overview__link s1"><mill-icon name="lightbulb"></mill-icon>Огляд компонента</a>-->
      <a href="" class="overview__link s1">
        <mill-icon name="figma"></mill-icon>Компонент в Figma
      </a>
    </div>
  </div>
  <div class="overview__content grid">
    <div class="overview__column grid-item-4">
      <div class="overview__label s1">Default dialog window</div>
      <div class="overview__container">
        <mill-button type="submit" size="medium" (click)="openDialog()">Open</mill-button>
      </div>
    </div>
  </div>
</div>

<mill-dialog-portal></mill-dialog-portal>

