<div class="overview">
  <div class="overview__header">
    <div class="h4">Chips</div>
    <div class="overview__links">
      <a href="" class="overview__link s2">
        <mill-icon color="no" name="figma"></mill-icon>
        Компонент в Figma
      </a>
    </div>
  </div>

  <div class="overview__content grid">

    <div class="overview__column grid-item-4">
      <div class="overview__label s1">Вікно із заголовком</div>
      <div class="overview__container">
        <mill-button [view]="'filled'" size="large" (click)="openModalTitle()">Застосувати</mill-button>
      </div>
    </div>

  </div>
</div>
