<div class="overview">
  <div class="overview__header">
    <div class="h4">Tooltip</div>
    <div class="overview__links">
      <a href="" class="overview__link s2">
        Компонент в Figma
      </a>
    </div>
  </div>

  <div class="overview__content grid">
    <div class="overview__column grid-item-4">
      <span class="p2">Basic tooltip</span>
      <span class="p3" millTooltip="Текст на подсказке, который может быть в две строки">Hover me</span>
    </div>
    <div class="overview__column grid-item-4">
      <span class="p2">Basic tooltip</span>
      <span class="p3" millTooltip="Текст на подсказке, который может быть в две строки" [tooltipFlow]="flow">Hover me</span>
    </div>
  </div>
</div>
