<div
  class="mill-radio"
  [class.mill-radio_disabled]="disabled"
  (click)="onClick($event)"
  (keyup)="onKeyup($event)"
  [tabIndex]="tabindex">
  <input
    class="mill-radio__input"
    type="radio"
    [checked]="checked"
    [disabled]="disabled"
    [name]="name"
    [id]="id"
    [required]="required"
    [value]="value"
    (change)="onChange($event)">
  <span class="mill-radio__checkmark">
    <span class="icon mill-radio__icon"></span>
  </span>

  <label class="mill-radio__label" [for]="id" *ngIf="!hideLabel">
    <ng-content></ng-content>
  </label>
</div>
