<div
  class="radio"
  [class.radio_disabled]="disabled"
  (click)="onClick($event)"
  (keyup)="onKeyup($event)"
  [tabIndex]="tabindex">
  <input
    class="radio__input"
    type="radio"
    [checked]="checked"
    [disabled]="disabled"
    [name]="name"
    [id]="id"
    [required]="required"
    [value]="value"
    (change)="onChange($event)">
  <span class="radio__checkmark">
    <span class="icon radio__icon"></span>
  </span>

  <label class="radio__label" [for]="id" *ngIf="!hideLabel">
    <ng-content></ng-content>
  </label>
</div>
