@import "~@mill/figma/colors";
@import "~@mill/figma/typography";
@import "~@mill/figma/icons";

/* stylelint-disable no-descending-specificity */
.mill-radio {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;

  &__checkmark {
    min-width: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid $grey-50;
    box-sizing: border-box;
    transition: border-color 0.2s ease-in-out;

    .mill-radio__icon {
      display: inline-block;
      background-color: #ffffff;
      transition: background-color 0.2s ease-in-out;
    }
  }

  &__label {
    color: $grey-60;
    cursor: pointer;
    margin-left: 14px;
    transition: color 0.2s ease-in-out;

    @extend %p1;
  }

  &__input {
    appearance: none;

    &:checked ~ .mill-radio__checkmark {
      border-color: $red-50;

      .mill-radio__icon {
        width: 12px;
        height: 12px;
        background-color: $red-50;
        border-radius: 50%;
      }
    }
  }

  &:hover,
  &:focus {
    outline: none;

    .mill-radio__checkmark {
      border-color: $red-40;
    }

    .mill-radio__icon {
      background-color: $red-40;
    }

    .mill-radio__label {
      color: $grey-70;
    }
  }

  &_disabled,
  &_disabled:hover {
    cursor: not-allowed;

    .mill-radio__label {
      cursor: not-allowed;
      color: $grey-40;
    }

    .mill-radio__checkmark {
      border-color: $grey-30;
    }

    .mill-radio__icon {
      background-color: $grey-30;
    }

    .mill-radio__input:checked {
      & ~ .mill-radio__checkmark {
        border-color: $grey-30;

        .mill-radio__icon {
          background-color: $grey-30;
        }
      }
    }
  }
}
/* stylelint-enable */
