@import "~@mill/figma/colors";

:host {
  display: inline-block;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 16px;
  padding: 4px;

  &.mill-user-info-action_disabled {
    background: none !important;
    .user-info__icon {
      background-color: $grey-60 !important;
    }
  }

  &:hover {
    background-color: $grey-70;

    .user-info__icon {
      background-color: white;
    }
  }

  &:active {
    background-color: $grey-80;
  }

  &:not(:last-child) {
    margin-right: 24px;
  }
}

.user-info__icon {
  background: $grey-40;
}

