<div class="h3">{{label}}</div>
<br>
<div class="preview">

  <div class="preview__block">
    <div class="preview__label s1">
      Basic
    </div>
    <div class="preview__component">
      <mill-pin-input [value]="1332" [length]="4" (enter)="fn($event.value)">
        Enter OTP
      </mill-pin-input>
    </div>
  </div>

  <div class="preview__block">
    <div class="preview__label s1">
      Disabled
    </div>
    <div class="preview__component">
      <mill-pin-input [value]="4322" [length]="4" (enter)="fn($event.value)" [disable]="true">
        Enter OTP
      </mill-pin-input>
    </div>
  </div>

  <div class="preview__block">
    <div class="preview__label s1">
      Invalid
    </div>
    <div class="preview__component">
      <mill-pin-input [value]="3322" [length]="4" (enter)="fn($event.value)" [errorMessage]="'Wrong OTP'"
        [invalid]="true">
        Enter OTP
      </mill-pin-input>
    </div>
  </div>

</div>