@import "~@mill/figma/colors";

:host {
  box-sizing: border-box;
  display: block;
}

.preview-block {
  display: flex;
  flex-direction: column;
}

.preview-block__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #e1e1e8;
  border-radius: 8px;
  padding: 24px;
  box-sizing: border-box;
  margin-top: 18px;
  flex-grow: 1;
}

.mill-button-overview {
  &:last-child {
    margin-bottom: 100px;
  }
}

.overview__block {
  &:not(:first-child) {
    border-top: 1px solid $grey-20;
    margin-top: 48px;
  }

  padding: 37px 24px 0;
}

.overview__subtitle {
  color: $main-primary-medium;

  &_for_h3 {
    margin-top: -9px;
  }
}

.preview-block__label {
  margin: 10px 0 18px;
}

.h6 + .s2 {
  margin-top: 19px;
}

.s2 + .p2 {
  margin-top: 4px;
}

.s1 + .p1 {
  margin-top: 2px;
}

.p2 + .s2 {
  margin-top: 20px;
}

.overview__subtitle + .p1 {
  margin-top: 16px;
}

.overview__tags {
  margin-top: 24px;
  grid-gap: 18px 24px;
}

.overview__type_description {
  margin-bottom: 24px;
}

.mill-button-overview-p2 {
  color: $main-primary-medium;
}
