@import "~@mill/figma/colors";
@import "~@mill/figma/icons";
@import "~@mill/figma/typography";

.mill-tabs {
  display: block;
  position: relative;
  width: 100%;
}

.tab-body {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;

  &__content {
    width: 100%;
  }
}

.tab-content {
  width: 100%;
}

%tabs-label {
  padding: 0 24px;
  color: $grey-50;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  flex-shrink: 0;
  white-space: nowrap;

  transition: 0.3s ease;
  transition-property: color, background-color;

}

.tabs-basic {
  display: flex;
  flex-direction: column;

  height: auto;
  border: none;

  &_disabled {

    .tabs-basic__item {
      color: $grey-30;
      pointer-events: none;

      &_active {
        color: $grey-40;
      }

    }

    .tabs-basic__border {
      span {
        background: $grey-30;
      }
    }
  }

  &_full-width {
    .tabs-basic__item {
      flex: 1;
    }
  }

  &__border {
    position: absolute;
    left: 0;
    bottom: -1px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.3s ease;

    span {
      width: calc(100% - 48px);
      height: 3px;
      border-radius: 5px;
      background: $red-50;
    }
  }

  &__header {
    display: inline-flex;
    height: 56px;
    position: relative;
    box-sizing: border-box;

    overflow: hidden;

    padding: 3px;
    margin-top: -3px;
    margin-left: -3px;
  }

  &__list {
    flex-grow: 1;
    position: relative;

    transition: 0.2s ease;
  }

  &__labels {
    display: flex;
    height: 100%;
  }

  &__item {
    @extend %tabs-label;

    border-bottom: 1px solid $grey-20;
    position: relative;
    font-size: 16px;

    &::after {
      content: "";
      position: absolute;
      left: 24px;
      bottom: -3px;
      width: calc(100% - 48px);
      height: 3px;
      background: $grey-30;
      opacity: 0;
      visibility: hidden;
      transition: 0.2s ease;
      border-radius: 5px;
    }

    @extend %p1;

    &:not(&_active) {
      &:hover {
        &:after {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    &:hover {
      color: $grey-70;
    }

    &_active {
      color: $grey-70;
      font-weight: 600;
    }
  }

  .tab-nav {
    top: 12px;
  }
}

.tabs-ios {
  display: flex;
  flex-direction: column;

  height: auto;
  border: none;

  position: relative;

  &_disabled {

    .tabs-ios__header {
      pointer-events: none;
    }

    .tabs-ios__item {
      color: $grey-40;

      border-color: $grey-40;

      &:first-of-type, &:last-of-type {
        border-color: $grey-40;
      }

      &_active {
        color: #fff;
        background: $grey-40;
        box-shadow: none;
      }
    }
  }

  &_full-width {
    .tabs-ios__item {
      flex: 1;
    }
  }

  &__header {
    display: flex;
    height: 40px;
    box-sizing: content-box;

    position: relative;

    overflow: hidden;

    padding: 8px;
    margin-left: -8px;
    margin-top: -8px;
  }

  &__list {
    flex-grow: 1;
    position: relative;

    transition: 0.2s ease;
  }

  &__labels {
    display: flex;
    height: 100%;
  }

  &__item {
    @extend %tabs-label;

    position: relative;

    border-top: 1px solid $red-50;
    border-bottom: 1px solid $red-50;

    transition: 0.3s ease;
    transition-property: border, background;

    &:first-of-type {
      border-radius: 50px 0 0 50px;
      border-left: 1px solid $red-50;
    }

    &:last-of-type {
      border-radius: 0 50px 50px 0;
      border-right: 1px solid $red-50;
    }

    &:not(&_active) {
      @extend %p2;

      &:hover {
        background: $red-30;
        color: #fff;
      }

      &:not(:last-of-type) {
        &:before {
          content: '';
          position: absolute;
          right: -1px;
          top: 0;
          bottom: 0;
          margin: auto;
          width: 1px;
          height: 24px;
          background: $grey-20;
        }
      }
    }

    &_active {
      @extend %s2;
      background: $red-50;
      color: #fff;
      box-shadow: 0 2px 5px rgba(249, 31, 43, 0.35);
    }
  }

  .tab-nav {
    top: 3px;
  }
}

.tab-content {
  position: relative;
  overflow: hidden;
}

.tab-item {
  width: 100%;
  overflow: hidden;
}

.tab-nav {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 0;
  outline: none;
  padding: 0;

  width: 32px;
  height: 32px;
  border-radius: 50%;

  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.03), 0 2px 7px rgba(0, 0, 0, 0.1), 0 0 2px rgba(0, 0, 0, 0.2);

  transition: 0.2s ease;

  cursor: pointer;

  .icon {
    background: $grey-50;
    transition: 0.2s ease;
  }

  &:hover {
    background: $grey-10;
    .icon {
      background: $grey-60;
    }
  }

  &:active {
    background: $grey-20;
  }

  &_left {
    left: 16px;
  }

  &_right {
    right: 16px;
  }
}
