@import "~@mill/figma/colors";

:host {
  padding: 24px;
  box-sizing: border-box;
  display: block;
}

.preview {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(4, 1fr);

  &__component {
    border: 1px solid $grey-20;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 12px;
    margin-top: 16px;
  }

  &__block {
    &_full-width {
      grid-column-start: 1;
      grid-column-end: 5;

      .preview__component {
        flex-direction: row;
      }

      .p1 {
        margin-left: 40px;

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}
