<div class="overview">
  <div class="overview__header">
    <div class="h4">Radio button</div>
    <div class="overview__links">
<!--      <a href="" class="overview__link s2"><mill-icon name="lightbulb"></mill-icon>Огляд компонента</a>-->
      <a href="" class="overview__link s2"><mill-icon name="figma"></mill-icon>Компонент в Figma</a>
    </div>
  </div>
  <div class="overview__content grid">
    <div class="overview__column grid-item-4">
      <div class="overview__label s1">Unchecked</div>
      <div class="overview__container">
        <mill-radio [hideLabel]="hideLabel" [formControl]="radioControl">{{label}}</mill-radio>
      </div>
    </div>
    <div class="overview__column grid-item-4">
      <div class="overview__label s1">Checked</div>
      <div class="overview__container">
        <mill-radio [hideLabel]="hideLabel" [checked]="true">{{label}}</mill-radio>
      </div>
    </div>
    <div class="overview__column grid-item-4">
      <div class="overview__label s1">Disabled unchecked</div>
      <div class="overview__container">
        <mill-radio [hideLabel]="hideLabel" [disabled]="true" [tabindex]="-1">{{label}}</mill-radio>
      </div>
    </div>
    <div class="overview__column grid-item-4">
      <div class="overview__label s1">Disabled checked</div>
      <div class="overview__container">
        <mill-radio [hideLabel]="hideLabel" [checked]="true" [disabled]="true" [tabindex]="-1">{{label}}</mill-radio>
      </div>
    </div>
    <div class="overview__column grid-item-4">
      <div class="overview__label s1">Without label</div>
      <div class="overview__container overview__container_row">
        <mill-radio [hideLabel]="hideLabel" [name]="oneGroup"></mill-radio>
        <mill-radio [hideLabel]="hideLabel" [name]="oneGroup"></mill-radio>
        <mill-radio [hideLabel]="hideLabel" [name]="oneGroup"></mill-radio>
        <mill-radio [hideLabel]="hideLabel" [name]="oneGroup" [tabindex]="-1" [disabled]="true"></mill-radio>
      </div>
    </div>
  </div>

  <hr class="overview__separator">

  <input-notice
    [noticeItems]="noticeItems"
    [noticeSubTitle]="'Значення які набуває Tabindex'"
  >
    Для переміщення між декількома елементами в DSYS використовується HTML атрибут <b>Tabindex</b> (наприклад це можна
    спостерігати в компоненті checkbox).<br/>
    <br/>
    <b>Tabindex</b> - це ціле визначальне число, яке визначає чи повинен даний елемент
    брати участь в послідовній навігації по всій сторінці за допомогою клавіатури і в якому порядку.
  </input-notice>
</div>

