<div class="h3">Radio button</div>
<br>
<div class="preview">
  <div class="preview__block">
    <div class="preview__label s1">Unchecked</div>
    <div class="preview__component">
      <radio class="p1">{{label}}</radio>
    </div>
  </div>

  <div class="preview__block">
    <div class="preview__label s1">Checked</div>
    <div class="preview__component">
      <radio class="p1" [checked]="true">{{label}}</radio>
    </div>
  </div>

  <div class="preview__block">
    <div class="preview__label s1">Disabled</div>
    <div class="preview__component">
      <radio class="p1" [disabled]="true">{{label}}</radio>
    </div>
  </div>
</div>
