<div class="overview">
  <div class="overview__header">
    <div class="h4">Snackbar boxes</div>
    <div class="overview__links">
      <!--      <a href="" class="overview__link s1"><mill-icon name="lightbulb"></mill-icon>Огляд компонента</a>-->
      <a href="" class="overview__link s1">
        <mill-icon name="figma"></mill-icon>Компонент в Figma
      </a>
    </div>
  </div>
  <div class="overview__content grid">
    <div class="overview__column grid-item-4">
      <div class="overview__label s1">Alert closes after button click</div>
      <div class="overview__container">
        <mill-button type="submit" size="medium" (click)="openAlert()">Open</mill-button>
      </div>
    </div>
    <div class="overview__column grid-item-4">
      <div class="overview__label s1">Notification closes after 5 seconds</div>
      <div class="overview__container">
        <mill-button type="submit" size="medium" (click)="openNotification()">Open</mill-button>
      </div>
    </div>
  </div>
</div>
