@import "./control-message";
@import "./input";
@import "./grid";
@import "~@mill/figma/typography";

%icon_white {
  background: #ffffff;
}


.h1 { @extend %h1; color: $main-primary-dark; }
.h2 { @extend %h2; color: $main-primary-dark; }
.h3 { @extend %h3; color: $main-primary-dark; }
.h4 { @extend %h4; color: $main-primary-dark; }
.h5 { @extend %h5; color: $main-primary-dark; }
.h6 { @extend %h6; color: $main-primary-dark; }
.s1 { @extend %s1; color: $main-primary-dark; }
.s2 { @extend %s2; color: $main-primary-dark; }
.p1 { @extend %p1; color: $main-primary-dark; }
.p2 { @extend %p2; color: $main-primary-dark; }
