@import "./control-message";
@import "./input";
@import "./grid";
@import "./icon";
@import "~@mill/figma/typography";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

body {
  margin: 0;
  font-size: 62.5%;
}

%icon_white {
  background: #ffffff;
}

.h1 {
  @extend %h1;

  color: $main-primary-dark;
  margin: 0;
}

.h2 {
  @extend %h2;

  color: $main-primary-dark;
  margin: 0;
}

.h3 {
  @extend %h3;

  color: $main-primary-dark;
  margin: 0;
}

.h4 {
  @extend %h4;

  color: $main-primary-dark;
  margin: 0;
}

.h5 {
  @extend %h5;

  color: $main-primary-dark;
  margin: 0;
}

.h6 {
  @extend %h6;

  color: $main-primary-dark;
  margin: 0;
}

.overline {
  @extend %overline;

  color: $main-primary-medium;
  margin: 0;
}

.s1 {
  @extend %s1;

  color: $main-primary-dark;
  margin: 0;
}

.s2 {
  @extend %s2;

  color: $main-primary-dark;
  margin: 0;
}

.p1 {
  @extend %p1;

  color: $main-primary-dark;
  margin: 0;
}

.p2 {
  @extend %p2;

  color: $main-primary-dark;
  margin: 0;
}

.p2.monospaced {
  @extend %p2;

  color: $main-primary-dark;
  font-family: "Roboto Mono", monospace;
  margin: 0;
}

.p3 {
  @extend %p3;

  color: $main-primary-dark;
  margin: 0;
}

.copy-color-popup {
  position: fixed;
  bottom: 0;
  left: 50%;
  width: 376px;
  animation: copy-color-popup-appearance 4.9s linear forwards;
  background-color: $grey-80;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.12), 0 8px 30px rgba(0, 0, 0, 0.2);
  color: $main-primary-light;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  font-family: "Gilroy", sans-serif;
  padding: 13px 16px 15px;
  transform: translate(-50%, -8px);
}

@keyframes copy-color-popup-appearance {
  0% {
    opacity: 0;
    transform: translate(-50%, 150%);
    visibility: hidden;
  }

  10% {
    opacity: 1;
    transform: translate(-50%, -8px);
    visibility: visible;
  }

  90% {
    opacity: 1;
    transform: translate(-50%, -8px);
    visibility: visible;
  }

  100% {
    opacity: 0;
    transform: translate(-50%, 150%);
    visibility: hidden;
  }
}
