@import "~@mill/figma/icons";
@import "~@mill/figma/icons-content";
@import "~@mill/figma/typography";

.mill-icon-badge {
  position: relative;
  display: inline-block;
  width: 24px;
}

.icon-badge {
  position: absolute;
  top: -4px;
  right: -4px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Gilroy, sans-serif;
  font-weight: bold;
  color: $other-white;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.25px;

  height: 16px;

  background: $red-50;
  border-radius: 24px;

  &_minimal {
    min-width: 6px;
    height: 6px;

    right: 0;
    top: 0;
  }
}
