<div class="h3">Switcher</div>
<br><br>
<div class="grid">
  <div class="grid-item-2">
    <div class="s1">Off</div>
    <div class="preview-block">
      <mill-switcher [active]="false"></mill-switcher>
    </div>
  </div>
  <div class="grid-item-2">
    <div class="s1">On</div>
    <div class="preview-block">
      <mill-switcher [active]="true"></mill-switcher>
    </div>
  </div>
  <div class="grid-item-2">
    <div class="s1">Loading...</div>
    <div class="preview-block">
      <mill-switcher></mill-switcher>
    </div>
  </div>
</div>
