<div class="overview">
  <div class="overview__header">
    <div class="h4">Switcher</div>
    <div class="overview__links">
<!--      <a href="" class="overview__link s1"><mill-icon name="lightbulb"></mill-icon>Огляд компонента</a>-->
      <a href="" class="overview__link s1"><mill-icon name="figma"></mill-icon>Компонент в Figma</a>
    </div>
  </div>
  <div class="overview__content grid">
    <div class="overview__column grid-item-4">
      <div class="overview__label s1">Off</div>
      <div class="overview__container">
        <mill-switcher [active]="false"></mill-switcher>
      </div>
    </div>
    <div class="overview__column grid-item-4">
      <div class="overview__label s1">On</div>
      <div class="overview__container">
        <mill-switcher [active]="true"></mill-switcher>
      </div>
    </div>
    <div class="overview__column grid-item-4">
      <div class="overview__label s1">Off disabled</div>
      <div class="overview__container">
        <mill-switcher [active]="false" [disabled]="true"></mill-switcher>
      </div>
    </div>
    <div class="overview__column grid-item-4">
      <div class="overview__label s1">On disabled</div>
      <div class="overview__container">
        <mill-switcher [active]="true" [disabled]="true"></mill-switcher>
      </div>
    </div>
    <div class="overview__column grid-item-4">
      <div class="overview__label s1">On load</div>
      <div class="overview__container">
        <mill-switcher></mill-switcher>
      </div>
    </div>
    <div class="overview__column grid-item-4">
      <div class="overview__label s1">On load (10s, delay)</div>
      <div class="overview__container">
        <mill-switcher [active]="switcherActive"></mill-switcher>
      </div>
    </div>
  </div>
</div>


