<!-- <div class="hn-select-header" [class.hn-select-header_filled]="filled" [class.hn-select-header_warn]="touched && !!errors" (click)="onClick()">
  <div class="hn-select-header__caption">
    {{ caption }}
  </div>
  <div class="hn-select-header__value">
    {{ selectedCaption }}
  </div>
  <div class="hn-icon hn-select-header__icon">
    arrow_drop_down
  </div>

  <div class="hn-input__hint hn-input__hint_warn" >
    {{ (touched && !!errors) ? errorText : '' }}
  </div>

</div> -->

<label class="input__label">
  {{ caption }}
  <div class="input__body" (click)="onClick()">
    <div class="input__enterence">
      <input
        class="input__input"
        type="text"
        [value]="selectedCaption || ''"
        [placeholder]="placeholder"
        [disabled]="!filter"
      />
    </div>
    <div class="input__icon icon icon_{{ active ? 'chevron-up' : 'chevron-down' }}"></div>
  </div>
  <div class="input__footer" *ngIf="(touched && !!errors)">
    <div class="control-message input__control-message">
      <div class="control-message__icon icon icon_info"></div>
      <div class="control-message__text">{{ (touched && !!errors) ? errorText : '' }}</div>
    </div>
  </div>
</label>
