<div class="hn-select-header" [class.hn-select-header_filled]="filled" [class.hn-select-header_warn]="touched && !!errors" (click)="onClick()">
  <div class="hn-select-header__caption">
    {{ caption }}
  </div>
  <div class="hn-select-header__value">
    {{ selectedCaption }}
  </div>
  <div class="hn-icon hn-select-header__icon">
    arrow_drop_down
  </div>

  <div class="hn-input__hint hn-input__hint_warn" >
    {{ (touched && !!errors) ? errorText : '' }}
  </div>

</div>

<input hnInput="text" placeholder="Введите дату" [value]="selectedCaption" [caption]="caption" icon="chevron-down" (click)="onClick()">