<ng-container>
	<div class="slider e2e-mill-slider" style="padding-top: 64px;"
		 [hidden]="!isSliderInit"
		 [ngClass]="{'slider_disabled': disabled}">
		<div class="slider__wrapper">

			<div class="slider__value">{{minValue}}</div>

			<div #sliderContent class="slider__content" >
				<div class="slider__track-wrapper" [ngClass]="{'step': getType() === sliderType.step}">
					<div class="track" [ngStyle]="{'background': getBaseTrackStyle()}"></div>
				</div>

				<div class="slider__track-fill">
					<div class="track" [ngStyle]="{'transform': getTrackFillStyle()}" style="z-index: 1; transform-origin: 0 0;"></div>
				</div>

				<slider-thumb [hidden]="getType() !== sliderType.double"
							  (eventOutput)="_getEvent($event)"
							  (focus)="onFocus(thumbName.minValue)"
							  (blur)="onBlur()"
							  (keydown)="onKeyDown($event)"
							  [config]="_sliderSettings"
							  [thumbName]="thumbName.minValue"
							  [value]="getValue(thumbName.minValue)"></slider-thumb>
				<slider-thumb (eventOutput)="_getEvent($event)"
							  (focus)="onFocus(thumbName.maxValue)"
							  (blur)="onBlur()"
							  (keydown)="onKeyDown($event)"
							  [config]="_sliderSettings"
							  [thumbName]="thumbName.maxValue"
							  [value]="getValue(thumbName.maxValue)"></slider-thumb>
			</div>

			<div class="slider__value">{{maxValue}}</div>

		</div>
	</div>
	<ng-container *ngIf="!isSliderInit">
		<span>{{ getErrorMessage() }}</span>
	</ng-container>
</ng-container>
