<div class="overview">
  <div class="overview__header">
    <div class="h4">Tabs</div>
    <div class="overview__links">
<!--      <a href="" class="overview__link s2"><mill-icon name="lightbulb"></mill-icon>Огляд компонента</a>-->
      <a href="" class="overview__link s2"><mill-icon name="figma"></mill-icon>Компонент в Figma</a>
    </div>
  </div>
  <div class="overview__content grid">
    <div class="overview__column">
      <div class="overview__label s1">Basic</div>
      <div class="overview__container">
        <mill-tabs selected="1">
          <mill-tab label="Tab name"><div class="tab-preview p1">{{tabsContent}}</div></mill-tab>
          <mill-tab label="Long Tab name"><div class="tab-preview p1">{{tabsContent}}{{tabsContent}}</div></mill-tab>
          <mill-tab label="Tab name"><div class="tab-preview p1">{{tabsContent}}{{tabsContent}}{{tabsContent}}</div></mill-tab>
          <mill-tab label="Tab name"><div class="tab-preview p1">{{tabsContent}}{{tabsContent}}{{tabsContent}}{{tabsContent}}</div></mill-tab>
        </mill-tabs>
      </div>
    </div>
    <div class="overview__column">
      <div class="overview__label s1">Only icon</div>
      <div class="overview__container">
        <mill-tabs selected="1">
          <mill-tab icon="email"><div class="tab-preview p1">{{tabsContent}}</div></mill-tab>
          <mill-tab icon="settings"><div class="tab-preview p1">{{tabsContent}}</div></mill-tab>
          <mill-tab icon="calendar"><div class="tab-preview p1">{{tabsContent}}</div></mill-tab>
        </mill-tabs>
      </div>
    </div>
    <div class="overview__column">
      <div class="overview__label s1">IOS-like</div>
      <div class="overview__container">
        <mill-tabs selected="1" type="ios">
          <mill-tab label="Tab name"><div class="tab-preview p1">{{tabsContent}}</div></mill-tab>
          <mill-tab label="Long Tab name"><div class="tab-preview p1">{{tabsContent}}</div></mill-tab>
          <mill-tab label="Tab name"><div class="tab-preview p1">{{tabsContent}}</div></mill-tab>
          <mill-tab label="Tab name"><div class="tab-preview p1">{{tabsContent}}</div></mill-tab>
        </mill-tabs>
      </div>
    </div>
    <div class="overview__column">
      <div class="overview__label s1">Tabs with scroll</div>
      <div class="overview__container">
        <mill-tabs selected="3">
          <mill-tab label="Tab name"><div class="tab-preview p1">{{tabsContent}}</div></mill-tab>
          <mill-tab label="Tab name"><div class="tab-preview p1">{{tabsContent}}</div></mill-tab>
          <mill-tab label="Tab name"><div class="tab-preview p1">{{tabsContent}}</div></mill-tab>
          <mill-tab label="Tab name"><div class="tab-preview p1">{{tabsContent}}</div></mill-tab>
          <mill-tab label="Tab name"><div class="tab-preview p1">{{tabsContent}}</div></mill-tab>
          <mill-tab label="Tab name"><div class="tab-preview p1">{{tabsContent}}</div></mill-tab>
          <mill-tab label="Tab name"><div class="tab-preview p1">{{tabsContent}}</div></mill-tab>
          <mill-tab label="Tab name"><div class="tab-preview p1">{{tabsContent}}</div></mill-tab>
          <mill-tab label="Tab name"><div class="tab-preview p1">{{tabsContent}}</div></mill-tab>
          <mill-tab label="Tab name"><div class="tab-preview p1">{{tabsContent}}</div></mill-tab>
        </mill-tabs>
        <mill-tabs selected="1" type="ios" style="margin-top: 24px">
          <mill-tab label="Tab name"><div class="tab-preview p1">{{tabsContent}}</div></mill-tab>
          <mill-tab label="Tab name"><div class="tab-preview p1">{{tabsContent}}</div></mill-tab>
          <mill-tab label="Tab name"><div class="tab-preview p1">{{tabsContent}}</div></mill-tab>
          <mill-tab label="Tab name"><div class="tab-preview p1">{{tabsContent}}</div></mill-tab>
          <mill-tab label="Tab name"><div class="tab-preview p1">{{tabsContent}}</div></mill-tab>
          <mill-tab label="Tab name"><div class="tab-preview p1">{{tabsContent}}</div></mill-tab>
          <mill-tab label="Tab name"><div class="tab-preview p1">{{tabsContent}}</div></mill-tab>
          <mill-tab label="Tab name"><div class="tab-preview p1">{{tabsContent}}</div></mill-tab>
          <mill-tab label="Tab name"><div class="tab-preview p1">{{tabsContent}}</div></mill-tab>
          <mill-tab label="Tab name"><div class="tab-preview p1">{{tabsContent}}</div></mill-tab>
        </mill-tabs>
      </div>
    </div>
    <div class="overview__column">
      <div class="overview__label s1">Only icon</div>
      <div class="overview__container">
        <mill-tabs selected="1" type="ios">
          <mill-tab icon="email"><div class="tab-preview p1">{{tabsContent}}</div></mill-tab>
          <mill-tab icon="settings"><div class="tab-preview p1">{{tabsContent}}</div></mill-tab>
          <mill-tab icon="calendar"><div class="tab-preview p1">{{tabsContent}}</div></mill-tab>
        </mill-tabs>
      </div>
    </div>
    <div class="overview__column">
      <div class="overview__label s1">Disabled</div>
      <div class="overview__container">
        <mill-tabs selected="1" [disabled]="true">
          <mill-tab label="Tab name"></mill-tab>
          <mill-tab label="Long Tab name"></mill-tab>
          <mill-tab label="Tab name"></mill-tab>
          <mill-tab label="Tab name"></mill-tab>
        </mill-tabs>
        <mill-tabs selected="1" [disabled]="true">
          <mill-tab icon="email"></mill-tab>
          <mill-tab icon="settings"></mill-tab>
          <mill-tab icon="calendar"></mill-tab>
        </mill-tabs>
        <mill-tabs selected="1" type="ios" [disabled]="true">
          <mill-tab label="Tab name"></mill-tab>
          <mill-tab label="Long Tab name"></mill-tab>
          <mill-tab label="Tab name"></mill-tab>
          <mill-tab label="Tab name"></mill-tab>
        </mill-tabs>
        <mill-tabs selected="1" type="ios" [disabled]="true">
          <mill-tab icon="email"></mill-tab>
          <mill-tab icon="settings"></mill-tab>
          <mill-tab icon="calendar"></mill-tab>
        </mill-tabs>
      </div>
    </div>
  </div>
</div>


