.overview {
  &__column {
    @media screen and (max-width: 1340px) {
      grid-column: span 12;
    }

    grid-column-start: 3;
    grid-column-end: 10;

    &:last-of-type {
      mill-tabs {
        &:not(:last-of-type) {
          margin-bottom: 24px;
        }
      }
    }
  }
}

.tab-preview {
  margin-top: 24px;
}
