<div class="h3">Tabs</div>
<br>
<div>
  <br>
  <div class="s1">Basic</div>
  <br>
  <div class="preview-block" style="padding-bottom: 24px;">
    <mill-tabs [disabled]="disable" selected="second" [fullWidth]="fullWidth">
      <mill-tab label="Label" [id]="'first'"><span class="p1" style="padding-top: 16px; display: block">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
          laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
          esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
          officia deserunt mollit anim id est laborum.</span></mill-tab>
      <mill-tab label="Label 2" [id]="'second'"><span class="p1" style="padding-top: 16px; display: block">Lorem ipsum dolor sit amet, consectetur adipiscing
          elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
          laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
          esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
          officia deserunt mollit anim id est laborum.</span></mill-tab>
      <mill-tab label="Large Label Here"><span class="p1" style="padding-top: 16px; display: block">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
          do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
          laboris
          nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
          deserunt mollit anim id est laborum.</span></mill-tab>
      <mill-tab label="Mega Large Label Here"><span class="p1" style="padding-top: 16px; display: block">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
          laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
          esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
          officia deserunt mollit anim id est laborum.</span></mill-tab>
      <mill-tab label="Label 3"><span class="p1" style="padding-top: 16px; display: block">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
          laboris
          nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
          deserunt mollit anim id est laborum.</span></mill-tab>
      <mill-tab label="Label 4"><span class="p1" style="padding-top: 16px; display: block">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
          laboris
          nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
          deserunt mollit anim id est laborum.</span></mill-tab>
      <mill-tab label="Large Label Here 2"><span class="p1" style="padding-top: 16px; display: block">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
          do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
          laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
          esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
          officia deserunt mollit anim id est laborum.</span></mill-tab>
      <mill-tab label="Mega Large Label Here 2">
        <span class="p1" style="padding-top: 16px; display: block">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est
          laborum.</span>
      </mill-tab>
    </mill-tabs>
  </div>
  <br>
  <div class="s1">Ios</div>
  <br>
  <div class="preview-block" style="padding: 24px">
    <mill-tabs [disabled]="disable" type="ios" selected="first" [fullWidth]="fullWidth">
      <mill-tab label="Ios tabs" [id]="'first'">
        <span class="p1" style="padding-top: 16px; display: block">
          content 234
        </span></mill-tab>
      <mill-tab label="Ios tabs 2"><span class="p1" style="padding-top: 16px; display: block">content 2343252352</span></mill-tab>
      <mill-tab label="Ios tabs 3"><span class="p1" style="padding-top: 16px; display: block">content new</span></mill-tab>
      <mill-tab label="Super Large Ios Tab">
        <span class="p1" style="padding-top: 16px; display: block">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est
          laborum.</span>
      </mill-tab>
    </mill-tabs>
  </div>
  <br>
  <div class="s1">Basic with icons</div>
  <br>
  <div class="preview-block" style="padding-bottom: 24px;">
    <mill-tabs [disabled]="disable" selected="second" [fullWidth]="fullWidth">
      <mill-tab icon="email" [id]="'first'"><span class="p1" style="padding-top: 16px; display: block">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
          laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
          esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
          officia deserunt mollit anim id est laborum.</span></mill-tab>
      <mill-tab icon="settings" [id]="'second'"><span class="p1" style="padding-top: 16px; display: block">Lorem ipsum dolor sit amet, consectetur adipiscing
          elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
          laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
          esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
          officia deserunt mollit anim id est laborum.</span></mill-tab>
      <mill-tab icon="calendar"><span class="p1" style="padding-top: 16px; display: block">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
          do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
          laboris
          nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
          deserunt mollit anim id est laborum.</span></mill-tab>
    </mill-tabs>
  </div>
  <br>
  <div class="s1">Ios with icons</div>
  <br>
  <div class="preview-block" style="padding: 24px">
    <mill-tabs [disabled]="disable" type="ios" selected="first" [fullWidth]="fullWidth">
      <mill-tab icon="email" [id]="'first'">
        <span class="p1" style="padding-top: 16px; display: block">
          content 234
        </span></mill-tab>
      <mill-tab icon="settings"><span class="p1" style="padding-top: 16px; display: block">content 2343252352</span></mill-tab>
      <mill-tab icon="calendar">
        <span class="p1" style="padding-top: 16px; display: block">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est
          laborum.</span>
      </mill-tab>
    </mill-tabs>
  </div>
</div>
