@import "~@mill/figma/colors";
.overview {
  &__column {
    grid-column: span 6;

    &:nth-of-type(2n - 1) {
      grid-column-start: 1;
      grid-column-end: 7;
    }
  }

  &__separator {
    max-width: 712px;
    height: 1px;
    border: none;
    background: $grey-20;

    margin: 40px auto;
  }
}
