<div class="overview">
  <div class="overview__header">
    <div class="h4">Text inputs</div>
    <div class="overview__links">
      <!--      <a href="" class="overview__link s1"><mill-icon name="lightbulb"></mill-icon>Огляд компонента</a>-->
      <a href="" class="overview__link s1">
        <mill-icon name="figma"></mill-icon>Компонент в Figma
      </a>
    </div>
  </div>
  <div class="overview__content grid">
    <div class="overview__column grid-item-4">
      <div class="overview__label s1">Basic</div>
      <div class="overview__container">
        <input millInput="text" [formControl]="nameControl" [errors]="nameControl.errors"
          [caption]="hideLabel ? '' : label" [placeholder]="hidePlaceholder ? '' : placeholder" [cleanup]="true">
      </div>
    </div>
    <div class="overview__column grid-item-4">
      <div class="overview__label s1">With icon</div>
      <div class="overview__container">
        <input icon="user" millInput="text" [formControl]="nameControlWithIcon" [errors]="nameControlWithIcon.errors"
          [caption]="hideLabel ? '' : label" [placeholder]="hidePlaceholder ? '' : placeholder">
      </div>
    </div>
    <div class="overview__column grid-item-4">
      <div class="overview__label s1">Card number</div>
      <div class="overview__container">
        <input icon="card" millInput="card" [formControl]="cardControl" [errors]="cardControl.errors"
          [caption]="hideLabel ? '' : label" [placeholder]="hidePlaceholder ? '' : '0000 0000 0000 0000'">
      </div>
    </div>
    <div class="overview__column grid-item-4">
      <div class="overview__label s1">Phone number</div>
      <div class="overview__container overview__container_row">
        <input millInput="phone" type="tel" icon="phone" inputmode="tel" prefix="+380" [formControl]="phoneControl"
          caption="Phone number" [caption]="hideLabel ? '' : label"
          [placeholder]="hidePlaceholder ? '' : '(00) 000-00-00'">
      </div>
    </div>
    <div class="overview__column grid-item-4">
      <div class="overview__label s1">International phone number</div>
      <div class="overview__container overview__container_row">
        <input millInput="phone" [international]="true" type="tel" icon="phone" inputmode="tel" prefix="+" [formControl]="InternationalPhoneControl"
          caption="Phone number" [caption]="hideLabel ? '' : label"
          [placeholder]="hidePlaceholder ? '' : '000000000000000'">
      </div>
    </div>
    <div class="overview__column grid-item-4" style="grid-column: span 12;">
      <div class="overview__label s1">Iban</div>
      <div class="overview__container">
        <input millInput="iban" [formControl]="ibanControl" [errors]="ibanControl.errors"
          [caption]="hideLabel ? '' : label" [placeholder]="hidePlaceholder ? '' : 'UA NN XXXXXX XXXXXXXXXXXXXXXXXXX'">
      </div>
    </div>

    <div class="overview__column grid-item-4">
      <div class="overview__label s1">Date</div>
      <div class="overview__container">
        <input millInput="date" [formControl]="dateControl" [errors]="dateControl.errors"
          [caption]="hideLabel ? '' : label" [placeholder]="hidePlaceholder ? '' : placeholder">
      </div>
    </div>
    <div class="overview__column grid-item-4">
      <div class="overview__label s1">Digits</div>
      <div class="overview__container">
        <input millInput="digit" [formControl]="digitControl" [errors]="digitControl.errors"
          [caption]="hideLabel ? '' : label" [placeholder]="hidePlaceholder ? '' : placeholder">
      </div>
    </div>
    <div class="overview__column grid-item-4">
      <div class="overview__label s1">With cleanup button</div>
      <div class="overview__container overview__container_row">
        <input millInput="text" [cleanup]="true" [caption]="hideLabel ? '' : label"
          [placeholder]="hidePlaceholder ? '' : placeholder">
      </div>
    </div>

    <div></div>
    <div class="overview__column grid-item-4">
      <div class="overview__label s1">Error alert</div>
      <div class="overview__container overview__container_row">
        <input millInput="text" [formControl]="errorControl" [errors]="errorControl.errors"
          [caption]="hideLabel ? '' : label" [placeholder]="hidePlaceholder ? '' : placeholder">
      </div>
    </div>

    <div class="overview__column grid-item-4">
      <div class="overview__label s1">Valid alert</div>
      <div class="overview__container">
        <input millInput="text" [formControl]="validControl" [valid]="'Valid alert'" [errors]="validControl.errors"
          [caption]="hideLabel ? '' : label" [placeholder]="hidePlaceholder ? '' : placeholder">
      </div>
    </div>
    <div class="overview__column grid-item-4">
      <div class="overview__label s1">Info alert</div>
      <div class="overview__container">
        <input millInput="text" [formControl]="infoControl" [errors]="validControlErrors"
          [caption]="hideLabel ? '' : label" [placeholder]="hidePlaceholder ? '' : placeholder">
      </div>
    </div>
    <div class="overview__column grid-item-4">
      <div class="overview__label s1">Disabled</div>
      <div class="overview__container overview__container_row">
        <input millInput="text" [formControl]="disabledControl" [errors]="disabledControl.errors"
          [caption]="hideLabel ? '' : label" [placeholder]="hidePlaceholder ? '' : placeholder">
      </div>
    </div>


    <div class="overview__column grid-item-4">
      <div class="overview__label s1">Textarea</div>
      <div class="overview__container overview__container_row">
        <mill-text-area [formControl]="textAreaBasicControl" [caption]="hideLabel ? '' : label"
          [placeholder]="hidePlaceholder ? '' : placeholder" [resize]="resizeTextarea">
        </mill-text-area>
      </div>
    </div>

    <div class="overview__column grid-item-4">
      <div class="overview__label s1">Textarea valid alert</div>
      <div class="overview__container overview__container_row">
        <mill-text-area [formControl]="textAreaValidControl" [caption]="hideLabel ? '' : label"
          [placeholder]="hidePlaceholder ? '' : placeholder" [resize]="resizeTextarea">
          <mill-hint hintControl [valid]="true" caption="Valid true"></mill-hint>
        </mill-text-area>
      </div>
    </div>

    <div class="overview__column grid-item-4">
      <div class="overview__label s1">Textarea error alert</div>
      <div class="overview__container overview__container_row">
        <mill-text-area [formControl]="textAreaErrorControl" [caption]="hideLabel ? '' : label"
          [placeholder]="hidePlaceholder ? '' : placeholder" [resize]="resizeTextarea">
          <mill-hint hintControl></mill-hint>
        </mill-text-area>
      </div>
    </div>

    <div class="overview__column grid-item-4">
      <div class="overview__label s1">Textarea info alert</div>
      <div class="overview__container overview__container_row">
        <mill-text-area [formControl]="textAreaInfoControl" [caption]="hideLabel ? '' : label"
          [placeholder]="hidePlaceholder ? '' : placeholder" [resize]="resizeTextarea">
          <mill-hint caption="Info alert"></mill-hint>
        </mill-text-area>
      </div>
    </div>

    <div class="overview__column grid-item-4">
      <div class="overview__label s1">Textarea disabled</div>
      <div class="overview__container overview__container_row">
        <mill-text-area [formControl]="textAreaInfoControl" [disabled]="true" [caption]="hideLabel ? '' : label"
          [placeholder]="hidePlaceholder ? '' : placeholder" [resize]="resizeTextarea">
        </mill-text-area>
      </div>
    </div>

  </div>

  <hr class="overview__separator">

  <input-notice [noticeItems]="noticeItems" [noticeSubTitle]="'Важливо враховувати при розробці форм'"
    [link]="'https://mill.dev-fuib.com/?path=/story/компоненти-inputs--component-form'"></input-notice>
</div>